<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="HandheldFriendly" content="True"/>
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0" name="viewport">
        <title>{% block title %}AdmingeneratorGeneratorBundle{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets
                'bundles/admingeneratorgenerator/css/ui-lightness/jquery-ui-1.10.4.custom.css'
                'bundles/admingeneratorgenerator/css/colorbox.css'
                'bundles/pinanoselect2/css/select2.css'
                'bundles/admingeneratorgenerator/css/admin.less'
            %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}

            {# Для select2 #}
            {% if form is defined and form != false %}
                {{ form_stylesheet(form) }}
            {% endif %}
        {% endblock %}

        {% block javascript_head %}
            {% javascripts
                'components/jquery/jquery.js'
                '@AdmingeneratorGeneratorBundle/Resources/public/js/jquery-ui-1.10.4.custom.js'
                '@AdmingeneratorGeneratorBundle/Resources/public/js/common.js'
                '@AdmingeneratorGeneratorBundle/Resources/public/js/menu.js'
                '@AdmingeneratorGeneratorBundle/Resources/public/js/jquery.colorbox.js'
                '@AdmingeneratorGeneratorBundle/Resources/public/js/tab.js'
                '@PinanoSelect2Bundle/Resources/public/js/select2.min.js'
                '@AdmingeneratorGeneratorBundle/Resources/public/js/footable/footable.js'
            %}
                <script src="{{ asset_url }}"></script> 
            {% endjavascripts %}

            {% block i18n_javascript %}
                {# Календарь перевод и select2 #}
                {% if app.request.locale == 'ru' %}
                    {% javascripts '@PinanoSelect2Bundle/Resources/public/js/select2_locale_ru.js' %}
                        <script src="{{ asset_url }}"></script>
                    {% endjavascripts %}
                {% elseif app.request.locale == 'uk' %}
                    {% javascripts '@PinanoSelect2Bundle/Resources/public/js/select2_locale_uk.js' %}
                        <script src="{{ asset_url }}"></script>
                    {% endjavascripts %}
                {% endif %}
                <script src="{{ path('jquery_ui_date_picker', {'locale': app.request.locale}) }}"></script>
            {% endblock i18n_javascript %}

            {# Для select2 #}
            {% if form is defined and form != false %}
                {{ form_javascript(form) }}    
            {% endif %}

        {% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body {% block body_class '' %}>
        <div class="body">
            <div class="header {% block header_class %}{% endblock %}">
                {% block header %}
                    {% block logo %}
                        <a class="logo" href="#">
                            {% block logo_image '' %}
                            <span>{% block logo_name %}{{ app.request.host }}{% endblock logo_name %}</span>
                        </a>
                    {% endblock logo %}

                    {% block menu_mobile %}
                        <div class="menu_mobile">
                            <a href="#" onclick="toggleBlock('.list_bar', this);" class="i_table"></a>
                            <a href="#" onclick="toggleBlock('.list_filters', this);" class="i_filter"></a>
                            <a href="#" onclick="toggleBlock('.menu_settings', this);" class="i_settings"></a>
                            <a href="#" onclick="toggleBlock('.menu_main', this);" class="i_menu"></a>
                        </div>
                    {% endblock menu_mobile %}

                    {% block menu_settings %}
                        {% if app.user %}
                            <div class="menu_settings menu_drop">
                                <ul>
                                    {% block menu_store %}
                                        {#<li>
                                            <span class='link'>{{ 'profile.store'|trans({}, 'Store') }}</span>
                                            <span class="drop_list">
                                                <a href="#" class="selected">Магазин</a>
                                                <ul class="menu_level_1">
                                                    <li><a>Shop1</a></li>
                                                    <li><a>Shop2</a></li>
                                                </ul>    
                                            </span>
                                        </li>#}
                                    {% endblock menu_store %}

                                    {% block menu_language %}
                                        {#<li>
                                            <span class='link'>{{ 'profile.language'|trans({}, 'Language') }}</span>
                                            <span class="drop_list">
                                                <a href="#" class="selected">Язык</a>
                                                <ul class="menu_level_1">
                                                    <li class="active"><a>Russian</a></li>
                                                    <li><a>Russian2</a></li>
                                                </ul>
                                            </span>
                                        </li>#}
                                    {% endblock menu_language %}

                                    <li>
                                        <span class="username">{{ app.user }}</span>
                                    </li>
                                    <li>
                                        <a class='' href="{{ (admingenerator_config('logout_path') is not null) ? path(admingenerator_config('logout_path')) : '#' }}">{{ 'profile.logout'|trans({}, 'Admingenerator') }}</a>
                                    </li>
                                </ul>
                            </div>
                        {% endif %}
                    {% endblock menu_settings %}

                    {% block menu_main %}
                        <div class="menu_main menu_drop">
                            {{ millwright_menu_render('main') }}
                        </div>
                    {% endblock menu_main %}

                {% endblock header %}
            </div>

            {% block flashes %}
                {% for type, flashMessages in app.session.flashbag.all() %}
                    {% for flashMessage in flashMessages %}
                        <div class="notification_box {{ type }}">
                            {{ flashMessage }}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endblock %}

            <div class="content">
                {% block body %}{% endblock %}
            </div>

            <div class="footer">
                {% block footer %}
                    <a class="logo_footer" href="http://www.nitra.ua/" target="_blank"></a>
                    <div class="popup popup_footer">
                        {% block popup_footer_links %}
                            <a class="link_icon" href="http://www.nitra.ua/support/" target="_blank"><i class="i_settings"></i>{{ 'support.support_link'|trans({}, 'Admingenerator') }}</a>
                        {% endblock popup_footer_links %}
                    </div>
                {% endblock %}
            </div>
            {# javascript для скрытия иконок фильтров и действий  #}
            {% block javascripts %}
                <script> 
                    if ($('.list_filters').size() === 0) {
                        $('a.i_filter').hide();
                    }
                    if ($('.list_actions').size() === 0) {
                        $('a.i_table').hide();
                    }
                </script>
            {% endblock %}
        </div>
    </body>
</html>