{% block title_container %}
    <h4>{% block title '' %}</h4>
{% endblock title_container %}

{% block stylesheets %}
    {% if form is defined and form != false %}
        {{ form_stylesheet(form) }}
        {{ afe_form_stylesheet(form) }}
    {% endif %}
{% endblock stylesheets %}

{% block content '' %}

{% block javascripts %}
    {% if form is defined and form != false %}
        {{ form_javascript(form) }}
        {{ afe_form_javascript(form) }}
    {% endif %}
    <script type="text/javascript">
        $('select').on("change", function() {
            $.colorbox.resize();
        });
    </script>
{% endblock javascripts %}