{% block colorbox_header %}
    <h1>{% block colorbox_title %}{% endblock colorbox_title %}</h1>
{% endblock colorbox_header %}

{% block colorbox_content %}

{% endblock colorbox_content %}

{% block colorbox_footer %}
   {# {% block colorbox_negative %}
        <a class="button_icon i_close">Отмена</a>
    {% endblock colorbox_negative %}
        
    {% block colorbox_positive %}
        <a class="button_icon i_save">Сохранить</a>
    {% endblock colorbox_positive %}#}
{% endblock colorbox_footer %}


{% block colorbox_js %}
<script type="text/javascript">
    $('a.btn').click(function() {
        $.fn.colorbox.close();
    });
    $(document).ready(function() {

        // Colorbox link
        $('.colorbox').colorbox();

        //select to select2
        $('select').select2({"placeholder": "", "width": "element", "allowClear": true});

        //checkbox/radiobutton
        $('input:checkbox, input:radio').not('.checkbox').after('<i class="check"></i>');
        $('body').delegate('input + i.check', 'click', function() {
            $(this).parent().find('input').click();
        });

        // Tabs
        $.tabs('.tabs a');
    });
</script>
{% endblock colorbox_js %}


