{% extends '::baseAdmin.html.twig' %}

{% block body_class %} class="login_page"{% endblock %}

{% block header '' %}
{% block i18n_javascript '' %}

{% block body %}
<div class="login_content">
    {% block fos_user_content %}
    {% if error %}
        <div class="notification_box error">{{ error|trans({}, 'FOSUserBundle') }}</div>
    {% endif %}

    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
        <a href="{{ path('fos_user_security_logout') }}">
            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
        </a>
    {% else %}
        <form class="form_block" action="{{ path("fos_user_security_check") }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" /> 
             <div class="form_row field_simple form_row_icon">
                <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
                <div class="field_content">
                    <input type="text" id="username" name="_username" value="{{ last_username }}" />
                        <span class="input_icon i_client"></span>
                </div>
            </div>
            <div class="form_row field_simple form_row_icon">
                <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
                <div class="field_content">
                    <input type="password" id="password" name="_password" />
                    <span class="input_icon i_password"></span>
                </div>
            </div>
            <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
        </form>
    {% endif %}
    {% endblock %}
</div>
{% endblock %}