<a class="to_selected" href="#" onclick="sfDoubleList.move('{{ form.vars.id }}_unselected','{{ form.vars.id }}_selected'); return false;">
    <i class="icon_to_selected"></i>
</a>
<a class="to_unselected" href="#" onclick="sfDoubleList.move('{{ form.vars.id }}_selected','{{  form.vars.id }}_unselected'); return false;">
    <i class="icon_to_unselected"></i>
</a>
