{% use '../CommonAdmin/ListTemplate/Column/boolean.php.twig' %}
{% use '../CommonAdmin/ListTemplate/Column/date.php.twig' %}
{% use '../CommonAdmin/ListTemplate/Column/datetime.php.twig' %}
{% use '../CommonAdmin/ListTemplate/Column/decimal.php.twig' %}
{% use '../CommonAdmin/ListTemplate/Column/collection.php.twig' %}
{% use '../CommonAdmin/generic_actions.php.twig' %}

{% block show %}
    <div class="admin_show">
        {{ echo_block('show') }}
            {{ echo_block('object') }}
                {% for fieldset in builder.fieldsets|keys %}
                    <fieldset class="form_block show_block form_fieldset_{{ fieldset|classify|replace({'.': '_'}) }} tab-pane">
                        {% if "NONE" != fieldset[:4] %}
                        <legend><strong>{{ echo_trans(fieldset,{}, i18n_catalog is defined ? i18n_catalog : "Admin" ) }}</strong></legend>
                        {% endif %}
                    <table>    
                    {% for rows in builder.fieldsets[fieldset] %}
                        {% for field in rows %}
                            {% set column = builder.Columns[field] %}
                            {% if column.credentials %}
                                  {{ echo_if_granted(column.credentials, builder.ModelClass) }}
                            {% endif %}
                            <tr>
                                <td class="title">
                                {{ echo_block('show_column_label_' ~ column.name) -}}
                                    {{ echo_twig("'" ~ column.label|addslashes ~ "'|trans({}, '" ~ i18n_catalog|default("Admin") ~ "')") }}
                                {{- echo_endblock() }}
                                </td>

                                <td>
                                    <span class="control-group form_field field_{{ field }}">
                                    {{ echo_block('show_column_' ~ column.name) -}}
                                        {%- if column.dbType|lower == "boolean" -%}
                                            {{- block('column_boolean') -}}
                                        {%- elseif column.dbType|lower == "date" -%}
                                            {{- block('column_date') -}}
                                        {%- elseif (column.dbType|lower == "datetime") or (column.dbType|lower == "timestamp") or (column.dbType|lower == "vardatetime") or (column.dbType|lower == "datetimetz") -%}
                                            {{- block('column_datetime') -}}
                                        {%- elseif column.dbType|lower == "decimal" -%}
                                            {{- block('column_decimal') -}}
                                        {%- elseif (column.dbType|lower == "array") or (column.dbType|lower == "collection")  -%}
                                            {{- block('column_collection') -}}
                                        {%- else -%}
                                            {{- echo_twig(builder.ModelClass ~ '.' ~ column.getter) -}}
                                        {%- endif -%}
                                    {{- echo_endblock() }}
                                    </span>
                                </td>
                            </tr>
                            {% if column.credentials %}
                                {{ echo_endif () }}
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                    </table>        
                </fieldset>
            {% endfor %}
            {{ echo_endblock() }}

            {{ echo_block('form_buttons') }}
                <div id="show-actions" class="form-actions">
                    {{ block("generic_actions") }}
                </div>
            {{ echo_endblock() }}
        {{ echo_endblock() }}
    </div>         
{% endblock %}
