<?php

namespace {{ namespace }}\Controller{{ prefix ? "\\" ~ prefix : "" }};

use Admingenerated\{{ bundle }}\Base{{ prefix }}Controller\{{ action }}Controller as Base{{ action }}Controller;

class {{ action }}Controller extends Base{{ action }}Controller
{
}