<?php

namespace {{ namespace }}\Form\Type{{ prefix ? "\\" ~ prefix : "" }};

use Admingenerated\{{ bundle }}\Form\Base{{ prefix }}Type\{{ form }}Type as Base{{ form }}Type;

class {{ form }}Type extends Base{{ form }}Type
{
}