{% use '../CommonAdmin/security_action.php.twig' %}
{% block index_use %}
use {{ builder.namespacePrefixWithSubfolder }}\{{ bundle_name }}\Form\Type\{{ builder.BaseGeneratorName ? builder.BaseGeneratorName ~ char(92) : "" }}FiltersType;
{% endblock %}
{% block index %}

    public function indexAction()
    {
        {{ block('security_action') }}

        $this->parseRequestForPager();

        $form = $this->getFilterForm();

        return $this->render('{{ builder.namespacePrefixForTemplate }}{{ bundle_name }}:{{ builder.BaseGeneratorName }}List:index.html.twig', $this->getAdditionalRenderParameters() + array(
            '{{ builder.ModelClass }}s' => $this->getPager(),
            'form'                      => $form->createView(),
            'sortColumn'                => $this->getSortColumn(),
            'sortOrder'                 => $this->getSortOrder(),
            'scopes'                    => $this->getScopes(),
        ));
    }
{% endblock %}
