{% block column_datetime %}
{% spaceless %}
{% if builder.generator.TwigParams.use_localized_date == true -%}
    {{ echo_if (builder.ModelClass ~ '.' ~ column.getter) }}
        {%- if column.localized_date_format is defined -%}
            {{ echo_set('localized_date_format', column.formOptions.localized_date_format) }}
        {%- else -%}
            {{ echo_set('localized_date_format', builder.generator.TwigParams.localized_date_format) }}
        {%- endif -%}
        {%- if column.localized_time_format is defined -%}
            {{ echo_set('localized_time_format', column.formOptions.localized_datetime_format) }}
        {%- else -%}
            {{ echo_set('localized_time_format', builder.generator.TwigParams.localized_datetime_format) }}
        {%- endif -%}
        {%- if column.formOptions.format is defined -%}
            {{ echo_set('datetime_format', column.formOptions.format) }}
        {%- else -%}
            {{ echo_set('datetime_format', builder.generator.TwigParams.datetime_format) }}
        {%- endif -%}

        {{ echo_twig(builder.ModelClass ~ '.' ~ column.getter ~ '|localizeddate(localized_date_format, localized_time_format, null, null, datetime_format)') }}
    {{ echo_endif() }}
{%- else -%}
    {{ echo_if (builder.ModelClass ~ '.' ~ column.getter) }}
        {% if column.formOptions.format is defined %}
            {{ echo_set('datetime_format', column.formOptions.format) }}
        {% else %}
            {{ echo_set('datetime_format', builder.generator.TwigParams.datetime_format) }}
        {% endif %}

        {{ echo_twig(builder.ModelClass ~ '.' ~ column.getter ~ '|date(datetime_format)') }}
    {{ echo_endif() }}
{%- endif %}
{% endspaceless %}
{% endblock %}
