{% block form_actions %}
{{ echo_block("form_actions") }}
    {% if builder.Actions|length > 0 %}
        <div class="row">
        {% for action in builder.Actions %}
            {{ echo_block("form_actions_" ~ action.name|replace({'.': '_', '-': '_'})) }}
                {% if action.credentials or builder.generator.getFromYaml('builders.' ~ action.name ~ '.params.credentials') %}
                    {{ echo_if_granted( action.credentials ? action.credentials : builder.generator.getFromYaml('builders.' ~ action.name ~ '.params.credentials', builder.ModelClass) ) }}
                {% endif %}

                <div class="input-field col">
                    {% if action.submit %}
                        <button class="btn cyan waves-effect waves-light {{ action.class|default('') }}" name="{{ action.name }}" type="submit">
                    {% else %}
                        {% if action.params %}
                            <a class="btn cyan waves-effect waves-light {{ action.class|default('') }}" href="{{ echo_path((action.route ? action.route : builder.routePrefixWithSubfolder ~ '_' ~ bundle_name ~ ( builder.BaseGeneratorName ? "_" ~ builder.BaseGeneratorName : "" ) ~ '_' ~ action.name), echo_twig_assoc(action.params)) }}"
                        {% else %}
                            <a class="btn cyan waves-effect waves-light {{ action.class|default('') }}" href="{{ echo_path((action.route ? action.route : builder.routePrefixWithSubfolder ~ '_' ~ bundle_name ~ ( builder.BaseGeneratorName ? "_" ~ builder.BaseGeneratorName : "" ) ~ '_' ~ action.name)) }}"
                        {% endif %}
                        {%- if action.confirm %}onclick='return confirm("{{ echo_trans(action.confirm) }}");'{% endif %}>
                    {% endif %}

                    {{- echo_trans(action.label) }}
                    {% if action.icon %}
                        <i class="mdi-{{ action.icon }} right"></i>
                    {% endif %}

                    {% if action.submit %}
                        </button>
                    {% else %}
                        </a>
                    {% endif %}
                </div>

                {% if action.credentials or builder.generator.getFromYaml('builders.' ~ action.name ~ '.params.credentials') %}
                    {{ echo_endif () }}
                {% endif %}
            {{ echo_endblock("form_actions_" ~ action.name|replace({'.': '_', '-': '_'})) }}
        {% endfor -%}
        </div>
    {% endif %}
    {{ echo_endblock() }}
{% endblock %}