{{ echo_set('title', '("' ~ title ~ '")|trans({}, "' ~ i18n_catalog|default("Admin") ~ '")', false) }}

{% use '../CommonAdmin/title.php.twig' %}
{% use '../CommonAdmin/stylesheets.php.twig' %}
{% use '../CommonAdmin/javascripts.php.twig' %}
{% use '../CommonAdmin/tabs.php.twig' %}

{{ echo_extends(builder.getBaseAdminTemplate) }}

{{ echo_block("stylesheets") }}
    {{- block('complementary_stylesheets') -}}
{{ echo_endblock() }}

{{ echo_block("javascripts") }}
    {{- block('complementary_javascripts') -}}
{{ echo_endblock() }}

{{- block('site_title') -}}

{{ echo_block("body") }}
    {{- block('title') -}}

    <div class="card-panel">
        <div class="row">
            {{- block('tabs') }}
            {{ echo_include(builder.namespacePrefixForTemplate ~ bundle_name ~ ':' ~ builder.BaseGeneratorName ~ (builder.yamlKey | capitalize) ~ ':form.html.twig') }}
        </div>
    </div>
{{ echo_endblock() }}