{% use "../CommonAdmin/EditTemplate/actions.php.twig" %}
{% use "../CommonAdmin/EditTemplate/fieldset.php.twig" %}

{% block form %}
    {{ echo_block('form') }}
    <form class="admin-form"
        {{ echo_if (builder.ModelClass ~ "." ~ builder.getFieldGuesser().getModelPrimaryKeyName(model) ) }}
            action="{{ echo_path(builder.routePrefixWithSubfolder ~ '_' ~ bundle_name ~ ( builder.BaseGeneratorName ? "_" ~ builder.BaseGeneratorName : "" ) ~ "_update", "{ 'pk': " ~ builder.ModelClass ~ "."~ builder.getFieldGuesser().getModelPrimaryKeyName(model) ~ " }" ) }}"
        {{ echo_else() }}
            action="{{ echo_path(builder.routePrefixWithSubfolder ~ '_' ~ bundle_name ~ ( builder.BaseGeneratorName ? "_" ~ builder.BaseGeneratorName : "" ) ~ "_create" ) }}"
        {{ echo_endif () }}
        method="post" {{ echo_twig("form_enctype(form)") }}>

        {{ echo_twig("form_errors(form)") }}

        {{ echo_block('form_fieldsets') }}
            {% if tabs is defined %}
                {% for name, tab in tabs %}
                    {{ echo_block("form_fieldset_" ~ name|replace({'.': '_'})) }}
                    {% spaceless %}
                        {% set fields = [] %}
                        {% for fieldsetName, fieldset in tab %}
                            {% for key, value in fieldset %}
                                {% set fields = fields|merge([value]) %}
                            {% endfor %}
                        {% endfor %}
                    {% endspaceless %}
                    {{ echo_set('fields', '["' ~ fields|join('","') ~ '"]', false) }}
                    {{ echo_set('empty', 'true', false) }}
                    {{ echo_for('field', 'fields if form[field] is defined') }}
                        {{ echo_set('empty', 'false', false) }}
                    {{ echo_endfor() }}
                    {{ echo_if('not empty') }}
                        <div id="{{ name|replace({'.': '_'}) }}" class="col s12 card-panel">
                            {% for fieldsetName, fieldset in tab %}
                                {{ echo_block("form_fieldset_" ~ name|replace({'.': '_'}) ~ '_' ~ fieldsetName|classify|replace({'.': '_'}) ~ '_content') }}
                                    {% for field in fieldset %}
                                        {% if builder.Columns[field].credentials %}
                                            {{ echo_if_granted(builder.Columns[field].credentials, builder.ModelClass) }}
                                        {% endif %}

                                        {{ echo_block("form_" ~ field) }}
                                            {{ echo_if("form." ~ field ~ " is defined") }}
                                                {{ echo_twig("form_row(form." ~ field ~ ", {'formType': '" ~ builder.Columns[field].formType ~ "', 'icon': '" ~ builder.Columns[field].icon ~ "'})") }}
                                            {{ echo_endif() }}
                                        {{ echo_endblock("form_" ~ field) }}

                                        {% if builder.Columns[field].credentials %}
                                            {{ echo_endif() }}
                                        {% endif %}
                                    {% endfor %}
                                {{ echo_endblock("form_fieldset_" ~ fieldsetName|classify|replace({'.': '_'}) ~ '_content') }}
                            {% endfor %}
                        </div>
                    {{ echo_endif () }}
                    {{ echo_endblock("form_fieldset_" ~ name|replace({'.': '_'})) }}
                {% endfor -%}
            {% else %}
                {% for fieldset in builder.fieldsets|keys %}
                    {{- block('form_fieldset') }}
                {% endfor %}
            {% endif %}
        {{ echo_endblock('form_fieldsets') }}

        {{ echo_twig("form_rest(form)") }}

        {{ echo_block("form_buttons") }}
            <div id="edit-actions" class="actions form-actions">
                {{ block("form_actions") }}
            </div>
            {{ block('edit_actions_script') }}
        {{ echo_endblock() }}
    </form>
    {{ echo_endblock() }}
{% endblock %}