{% use '../CommonAdmin/security_action.php.twig' %}
{% block create_use %}
{% endblock %}
{% block create %}

    public function createAction()
    {
        {{ block('security_action') }}

        ${{ builder.ModelClass }} = $this->getNewObject();

        $this->preBindRequest(${{ builder.ModelClass }});
        $form = $this->createForm($this->getNewType(), ${{ builder.ModelClass }});
        $form->bind($this->get('request'));

        if ($form->isValid()) {
            try {
                $this->preSave($form, ${{ builder.ModelClass }});
                $this->saveObject(${{ builder.ModelClass }});
                $this->postSave($form, ${{ builder.ModelClass }});

                $this->get('session')->getFlashBag()->add('success', $this->get('translator')->trans("{{ messages.success|default("action.object.edit.success") }}", array(), 'Admingenerator') );

                if($this->get('request')->request->has('save-and-add'))
                  return new RedirectResponse($this->generateUrl("{{ builder.routePrefixWithSubfolder }}_{{ bundle_name }}{{ builder.BaseGeneratorName ? "_" ~ builder.BaseGeneratorName : "" }}_new" ));
                if($this->get('request')->request->has('save-and-list'))
                  return new RedirectResponse($this->generateUrl("{{ builder.routePrefixWithSubfolder }}_{{ bundle_name }}{{ builder.BaseGeneratorName ? "_" ~ builder.BaseGeneratorName : "" }}_list" ));
                else
                  return new RedirectResponse($this->generateUrl("{{ builder.routePrefixWithSubfolder }}_{{ bundle_name }}{{ builder.BaseGeneratorName ? "_" ~ builder.BaseGeneratorName : "" }}_edit", array('pk' => ${{ builder.ModelClass }}->get{{ builder.getFieldGuesser().getModelPrimaryKeyName(model)|classify }}()) ));
            } catch (\Exception $e) {
                $this->get('session')->getFlashBag()->add('error',  $this->get('translator')->trans("{{ messages.error|default("action.object.edit.error") }}", array(), 'Admingenerator') );
                $this->onException($e, $form, ${{ builder.ModelClass }});
            }

        } else {
            $this->get('session')->getFlashBag()->add('error', $this->get('translator')->trans("{{ messages.error|default("action.object.edit.error") }}", array(), 'Admingenerator') );
        }

        return $this->render('{{ builder.namespacePrefixForTemplate }}{{ bundle_name }}:{{ builder.BaseGeneratorName }}New:index.html.twig', $this->getAdditionalRenderParameters(${{ builder.ModelClass }}) + array(
            "{{ builder.ModelClass }}" => ${{ builder.ModelClass }},
            "form" => $form->createView(),
        ));
    }

    /**
     * This method is here to make your life better, so overwrite it
     *
     * @param \Exception $exception throwed exception
     * @param \Symfony\Component\Form\Form $form the valid form
     * @param \{{ model }} ${{ builder.ModelClass }} your \{{ model }} object
     */
    public function onException(\Exception $exception, \Symfony\Component\Form\Form $form, \{{ model }} ${{ builder.ModelClass }})
    {
        if ($this->container->get('kernel')->getEnvironment() == 'dev') {
            $this->get('session')->getFlashBag()->add('error', $exception->getMessage());
        }
        
        if ($this->container->getParameter('kernel.debug')) {
            throw $exception;
        }
    }

    /**
     * This method is here to make your life better, so overwrite  it
     *
     * @param \{{ model }} ${{ builder.ModelClass }} your \{{ model }} object
     */
    public function preBindRequest(\{{ model }} ${{ builder.ModelClass }})
    {
    }

    /**
     * This method is here to make your life better, so overwrite  it
     *
     * @param \Symfony\Component\Form\Form $form the valid form
     * @param \{{ model }} ${{ builder.ModelClass }} your \{{ model }} object
     */
    public function preSave(\Symfony\Component\Form\Form $form, \{{ model }} ${{ builder.ModelClass }})
    {
    }

    /**
     * This method is here to make your life better, so overwrite  it
     *
     * @param \Symfony\Component\Form\Form $form the valid form
     * @param \{{ model }} ${{ builder.ModelClass }} your \{{ model }} object
     */
    public function postSave(\Symfony\Component\Form\Form $form, \{{ model }} ${{ builder.ModelClass }})
    {
    }
{% endblock %}
