{% use '../CommonAdmin/security_action.php.twig' %}
{% block index_use %}
use Symfony\Component\HttpKernel\Exception\NotFoundHttpException;
use {{ builder.namespacePrefixWithSubfolder }}\{{ bundle_name }}\Form\Type\{{ builder.BaseGeneratorName ? builder.BaseGeneratorName ~ char(92) : "" }}NewType;
{% endblock %}
{% block index %}

    public function indexAction()
    {
        {{ block('security_action') }}

        ${{ builder.ModelClass }} = $this->getNewObject();

        $form = $this->createForm($this->getNewType(), ${{ builder.ModelClass }}, $this->getFormOptions(${{ builder.ModelClass }}));

        return $this->render('{{ builder.namespacePrefixForTemplate }}{{ bundle_name }}:{{ builder.BaseGeneratorName }}New:index.html.twig', $this->getAdditionalRenderParameters(${{ builder.ModelClass }}) + array(
            "{{ builder.ModelClass }}" => ${{ builder.ModelClass }},
            "form" => $form->createView(),
        ));
    }
{% endblock %}
