{% use '../CommonAdmin/NestedListTemplate/nbresults.php.twig' %}
{% use '../CommonAdmin/NestedListTemplate/thead.php.twig' %}
{% use '../CommonAdmin/ListTemplate/tbody.php.twig' %}
{% use '../CommonAdmin/generic_actions.php.twig' %}
{% use '../CommonAdmin/batch_actions.php.twig' %}

{% block list_results %}
    <div class="list_results">        
        {{- block('form_batch_actions') }}
            <div class="list_header">
                <div class="list_bar">
                    {% if actions is defined and actions|length > 0 %}
                       <div class="list_actions">
                            {{ block('generic_actions') -}}
                       </div>    
                    {% endif -%}

                    {% if batch_actions is defined and batch_actions|length > 0 %}
                        {{ block('batch_actions') }} {# TODO #}
                    {% endif -%}
                </div>

                {{- block('list_paginator_perpage') -}}
            </div>
            <table id="table-list-{{ builder.ModelClass }}" class="table table_responsive">
                {{ block('list_thead') -}}
                {{- block('list_tbody') }}
            </table>
            <div class="list_footer">
                {{- block("list_paginator_pages") -}}
                {{- echo_twig('block("list_paginator_perpage")') -}}
            </div>
        {{- block('endform_batch_actions') -}}
    </div>

{% set admingeneratorNestedRoute=builder.routePrefixWithSubfolder ~ "_" ~ bundle_name ~ ( builder.BaseGeneratorName ? "_" ~ builder.BaseGeneratorName : "" ) ~ "_nested_move" %}
<script type="text/javascript">
    ;(function(window, $, undefined){
        $(function(){
            $('#table-list-{{ builder.ModelClass }}').agen$nestedTree({
                urls: {
                    move: '{{ echo_path( admingeneratorNestedRoute, "{ 'dragged': '|dragged|', 'action': '|action|', 'dropped': '|dropped|' }") }}'
                },
                labels: {
                    expand: '{{ echo_trans('nested.list.expand') }}',
                    collapse: '{{ echo_trans('nested.list.collapse') }}'
                }
            });
        });
    })(this, jQuery);
</script>
{% endblock list_results %}