{% block list_thead %}
{{ echo_block("list_thead") }}
<thead>
    <tr class="list_thead">
        {% if batch_actions is defined and batch_actions|length > 0 %}
            <th class="list_thead_batch_action">
                <input type="checkbox" name="batchAll" />
            </th>
        {% endif %}
        {% for column in builder.columns -%}
        {% if column.credentials %}
              {{ echo_if_granted(column.credentials) }}
        {% endif %}
        <th class="list_thead_column">
           {{ echo_twig("'" ~ column.label|addslashes ~ "'|trans({}, '" ~ i18n_catalog|default("Admin") ~ "')") }}
        </th>
        {% if column.credentials %}
            {{ echo_endif () }}
        {% endif %}
        {% endfor -%}

        {%- if object_actions|length > 0 -%}
            <th class="actions">{{ echo_trans('list.header.actions') }}</th>
        {% endif -%}
    </tr>
</thead>
{{ echo_endblock() }}
{% endblock %}
