{% block batch_counter %}
    {{ echo_set('allowedBatchAmount', '0', false) }}
    {{ echo_set('allowedBatchAmountSelect', '0', false) }}
    {% for action in builder.BatchActions %}
        {% if action.credentials or builder.generator.getFromYaml('builders.' ~ action.name ~ '.params.credentials') %}
            {{ echo_if_granted(action.credentials ? action.credentials : builder.generator.getFromYaml('builders.' ~ action.name ~ '.params.credentials')) }}
                {{ echo_set('allowedBatchAmount', 'allowedBatchAmount + 1', false) }}
                {% if not action.fake %}
                    {{ echo_set('allowedBatchAmountSelect', 'allowedBatchAmountSelect + 1', false) }}
                {% endif %}
            {{ echo_endif() }}
        {% else %}
            {{ echo_set('allowedBatchAmount', 'allowedBatchAmount + 1', false) }}
            {% if not action.fake %}
                {{ echo_set('allowedBatchAmountSelect', 'allowedBatchAmountSelect + 1', false) }}
            {% endif %}
        {% endif %}
    {% endfor %}
{% endblock batch_counter %}

{% block batch_actions %}
{{ echo_block("batch_actions") }}
    {{ block('batch_counter') }}
    {{ echo_if('allowedBatchAmountSelect > 0') }}
        <select id="batchActionSelector" name="action" class="right">
            <option selected="selected" value="none">{{ echo_trans('batch.list.selected') }}</option>
            {% for action in builder.BatchActions if not action.fake %}
                {{ echo_block('batch_action_' ~ action.twigName) }}
                {% if action.credentials or builder.generator.getFromYaml('builders.' ~ action.name ~ '.params.credentials') %}
                    {{ echo_if_granted(action.credentials ? action.credentials : builder.generator.getFromYaml('builders.' ~ action.name ~ '.params.credentials')) }}
                {% endif %}

                    {% if action.conditionalFunction %}
                        {{ echo_if((action.conditionalInverse ? 'not ' : '') ~ builder.ModelClass ~ "." ~ action.conditionalFunction ~ '(' ~ action.conditionalParameters|join(',') ~')') }}
                    {% endif %}

                    {{ block('batch_action_block') }}

                    {% if action.conditionalFunction %}
                        {{ echo_endif() }}
                    {% endif %}

                {% if action.credentials or builder.generator.getFromYaml('builders.' ~ action.name ~ '.params.credentials') %}
                    {{ echo_endif() }}
                {% endif %}
                {{ echo_endblock() }}
            {% endfor %}
        </select>
    {{ echo_endif() }}
{{ echo_endblock() }}
{% endblock %}

{% block batch_action_block %}
    {{ block('batch_counter') }}
    {{ echo_if('allowedBatchAmount > 0') }}
        {% set translationDomain = action.type is sameas('custom') ? i18n_catalog|default("Admin") : 'Admingenerator' %}
        <option value="{{ action.name }}" {%- if action.confirm %} data-confirm='{{ echo_trans(action.confirm, {}, translationDomain) }}' {% endif -%}>
            {% if action.icon %}<i class="{{ action.icon }}"></i> {% endif %}{{ echo_trans(action.label, {}, translationDomain) }}
        </option>
    {{ echo_endif() }}
{% endblock %}

{% block form_batch_actions %}
{{ echo_block("form_batch_actions") }}
    {% if batch_actions is defined and batch_actions|length > 0 %}
        {{ block('batch_counter') }}
        {{ echo_if('allowedBatchAmount > 0') }}
            {% set actionPathName = builder.routePrefixWithSubfolder ~ '_' ~ bundle_name ~ ( builder.BaseGeneratorName ? "_" ~ builder.BaseGeneratorName : "" ) ~ '_batch' %}
            <form id="form-list-{{ builder.ModelClass }}" method="post" action="{{ echo_path(actionPathName) }}">
                <input type="hidden" value="{{ echo_twig_filter(actionPathName, 'csrf_token', true) }}" name="_csrf_token" />
        {{ echo_endif() }}
    {% endif -%}
{{ echo_endblock() -}}
{% endblock %}

{% block endform_batch_actions %}
{{ echo_block("endform_batch_actions") }}
    {{ block('batch_counter') }}
    {{ echo_if('allowedBatchAmount > 0') }}
        {% if batch_actions is defined and batch_actions|length > 0 %}
            </form>
        {% endif %}
    {{ echo_endif() }}
{{ echo_endblock() }}
{% endblock %}

{% block row_batch_actions %}
    {% if batch_actions is defined and batch_actions|length > 0 %}
        {{ block('batch_counter') }}
        {{ echo_if('allowedBatchAmount > 0') }}
            <td class="td_batch_action">
                {{ echo_block("td_batch_action_checkbox") }}
                    <input id="batch-action-for-{{- echo_twig(builder.ModelClass ~ '.' ~ builder.getFieldGuesser().getModelPrimaryKeyName(model)) -}}" type="checkbox" name="selected[]" class="batch_select_id" value="{{- echo_twig(builder.ModelClass ~ '.' ~ builder.getFieldGuesser().getModelPrimaryKeyName(model)) -}}" />
                    <label for="batch-action-for-{{- echo_twig(builder.ModelClass ~ '.' ~ builder.getFieldGuesser().getModelPrimaryKeyName(model)) -}}"></label>
                {{ echo_endblock() }}
            </td>
        {{ echo_endif() }}
    {% endif %}
{% endblock row_batch_actions %}

{% block th_batch_actions %}
    {{ block('batch_counter') }}
    {{ echo_if('allowedBatchAmount > 0') }}
        <th class="list_thead_batch_action">
            {{ echo_block("th_batch_action_checkbox") }}
                <input type="checkbox" name="batchAll" />
            {{ echo_endblock() }}
        </th>
    {{ echo_endif() }}
{% endblock th_batch_actions %}

{% block batch_actions_script %}
{{ echo_block('batch_actions_script') }}
    <script src="{{ echo_twig('asset("bundles/admingeneratorgenerator/js/admingenerator/batch-actions.js")') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#form-list-{{ builder.ModelClass }}").agen$batchActions({
                actionsSelector: '#batchActionSelector',
                noneSelected:    '{{ echo_trans("batch.list.none.selected") }}'
            });
        });
    </script>
{{ echo_endblock() }}
{% endblock batch_actions_script %}