{% block security_use %}
{% if credentials %}
use Symfony\Component\Security\Core\Exception\AccessDeniedException;
use JMS\SecurityExtraBundle\Security\Authorization\Expression\Expression;
{% endif %}
{% endblock %}

{% block security_check %}
{% if credentials %}
    /**
     * Check user credentials
     *
     * @param string $credentials
     * @param \{{ model }} ${{ builder.ModelClass }}
     * @throw AccessDeniedException if is not allowed
     */
    protected function checkCredentials($credentials, \{{ model }} ${{ builder.ModelClass }} = null)
    {
        $securityContext = $this->get('security.context');

        if (false === $securityContext->isGranted(array(new Expression($credentials)), ${{ builder.ModelClass }})) {
            throw new AccessDeniedException();
        }
    }
{% endif %}
{% endblock %}

{% block security_action %}
{% if builder.yamlKey is sameas('actions')  %}
    {% if action is defined and action.credentials %}
    $this->checkCredentials('{{ action.credentials }}');
    {% endif %}
{% elseif credentials %}
    $this->checkCredentials('{{ credentials }}');
{% endif %}
{% endblock %}

{% block security_action_with_object %}
{% if builder.yamlKey is sameas('actions') %}
    {% if action is defined and action.credentials %}
    $this->checkCredentials('{{ action.credentials }}', ${{ builder.ModelClass }});
    {% endif %}
{% elseif credentials %}
    $this->checkCredentials('{{ credentials }}', ${{ builder.ModelClass }});
{% endif %}
{% endblock %}
