{% block tabs %}
{{ echo_block("form_tabs") }}
{% if tabs is defined and tabs|length > 0 %}
    <div class="col s12">
        <ul class="tabs change-hash">
            {{ echo_block("form_tabs_content") }}
            {% for name, tab in tabs %}
                {{ echo_block("form_tabs_" ~ name|replace({'.': '_'})) }}
                {% spaceless %}
                    {% set fields = [] %}
                    {% for fieldsetName, fieldset in tab %}
                        {% for key, value in fieldset %}
                            {% set fields = fields|merge([value]) %}
                        {% endfor %}
                    {% endfor %}
                {% endspaceless %}
                {{ echo_set('fields', '["' ~ fields|join('","') ~ '"]', false) }}
                {{ echo_set('hasErrors', 'false', false) }}
                {{ echo_set('empty', 'true', false) }}
                {{ echo_for('field', 'fields if form[field] is defined') }}
                    {{ echo_set('empty', 'false', false) }}
                    {{ echo_if('_self.checkErrors(form[field])|trim') }}
                        {{ echo_set('hasErrors', 'true', false) }}
                    {{ echo_endif() }}
                {{ echo_endfor() }}
                {{ echo_if('not empty') }}
                    <li class="tab col s3">
                        <a href="#{{ name|replace({'.': '_'}) }}" class="{{ echo_twig('hasErrors ? "invalid"') }} orange-text">
                            {{- echo_trans(name, {}, i18n_catalog|default("Admin") ) -}}
                        </a>
                    </li>
                {{ echo_endif () }}
                {{ echo_endblock("form_tabs_" ~ name|replace({'.': '_'})) }}
            {% endfor %}
            {{ echo_endblock("form_tabs_content") }}
            {{ echo_block("form_tabs_check_errors_macro") }}
                {{ '{% macro checkErrors(form) -%}' }}
                    {{ echo_if('form.children is not empty') }}
                        {{ echo_for('child', 'form') }}
                            {{ echo_twig('_self.checkErrors(child)') }}
                        {{ echo_endfor() }}
                    {{ echo_else() }}
                        {{ echo_twig('form.vars.errors|length ? "error"') }}
                    {{ echo_endif() }}
                {{ '{% endmacro %}' }}
            {{ echo_endblock("form_tabs_check_errors_macro") }}
        </ul>
    </div>
{% endif %}
{{ echo_endblock() }}
{% endblock %}