{% block list_filters %}
    {{ echo_block('list_filters') }}
    <div class="card-panel">
        <h4 class="header2">{{ echo_trans('list.filters') }}</h4>
        <div class="row">
            <form class="col s12" action="{{ echo_path(builder.routePrefixWithSubfolder ~ '_' ~ bundle_name ~ ( builder.BaseGeneratorName ? "_" ~ builder.BaseGeneratorName : "" ) ~ "_filters" ) }}" method="post" {{ echo_twig("form_enctype(form)") }}>
                {{ echo_twig("form_rest(form)") }}

                <div class="row">
                    <div class="input-field col s12">
                        <button class="btn cyan waves-effect waves-light right" type="submit">
                            {{- echo_trans('list.button.filter') -}}
                            <i class="mdi-content-send right"></i>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <button class="btn waves-effect waves-light right red" type="submit" name="reset">
                            {{- echo_trans('list.button.reset') -}}
                            <i class="mdi-navigation-cancel right"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {{ echo_endblock() }}
{% endblock list_filters %}