{{ echo_set('title', '("' ~ title ~ '")|trans({}, "' ~ i18n_catalog|default("Admin") ~ '")', false) }}

{% use '../CommonAdmin/title.php.twig' %}
{% use '../CommonAdmin/stylesheets.php.twig' %}
{% use '../CommonAdmin/javascripts.php.twig' %}
{% use '../CommonAdmin/ListTemplate/scopes.php.twig' %}
{% use '../CommonAdmin/generic_actions.php.twig' %}
{% use '../CommonAdmin/object_actions.php.twig' %}
{% use '../CommonAdmin/batch_actions.php.twig' %}

{{ echo_extends(builder.getBaseAdminTemplate) }}

{{ echo_block("stylesheets") }}
    {{- block('complementary_stylesheets') -}}
{{ echo_endblock() }}

{{ echo_block("javascripts") }}
    {{- block('complementary_javascripts') -}}
{{ echo_endblock() }}

{{- block('site_title') -}}

{{ echo_block("body") }}
    <div class="admin_list main_content{% if builder.filterColumns|length > 0 %} has_fiters{% endif %}">
        <div id="basic-form" class="section">
            <div class="row">
                <div class="col s12 m12 l10">
                    <div class="card-panel">
                        {{ echo_include(builder.namespacePrefixForTemplate ~ bundle_name ~ ':' ~ builder.BaseGeneratorName ~ 'List:results.html.twig') }}
                    </div>
                </div>
                <div class="col s12 m12 l2">
                    {{ echo_block("filters") }}
                        {% if builder.filterColumns|length > 0 -%}
                            {{ echo_include(builder.namespacePrefixForTemplate ~ bundle_name ~ ':' ~ builder.BaseGeneratorName ~ 'List:filters.html.twig') }}
                        {%- endif %}
                    {{ echo_endblock() }}
                </div>
            </div>
        </div>

        {{- block('list_scopes') -}}
    </div>
{{ echo_endblock() }}


{{ echo_block("javascript_footer") }}
    {{ echo_twig('parent()') }}
    {{ block('batch_actions_script') }}
    {{ block('generic_actions_script') }}
    {{ block('object_actions_script') }}
{{ echo_endblock() }}