{% block list_paginator_perpage %}
{{ echo_block("list_paginator_perpage") }}
    {{ echo_if( builder.ModelClass ~ "s.haveToPaginate or "~ builder.ModelClass ~ "s.maxPerPage is not sameas(10)") }}
        <div class="per-page">
            <a class="btn dropdown-button waves-effect waves-light red" href="#!" data-activates="dropdown-per-page">
                {{- echo_twig('"pagerfanta.num.elements"|trans({"%number%": '~ builder.ModelClass ~ 's.maxPerPage}, "Admingenerator")') -}}
                <i class="mdi-navigation-arrow-drop-down right"></i>
            </a>
            <ul id="dropdown-per-page" class="dropdown-content active">
                {{ echo_for('perPage', '[ 10, 25, 50, 75, 100 ]') }}
                    <li{{ echo_if('perPage == '~ builder.ModelClass ~ 's.maxPerPage') }} class="active"{{ echo_endif() }}>
                        <a href="{{ echo_path(builder.routePrefixWithSubfolder ~ '_' ~ bundle_name ~ ( builder.BaseGeneratorName ? "_" ~ builder.BaseGeneratorName : "" ) ~ '_list', '{perPage: perPage}') }}"{{ echo_if('perPage == '~ builder.ModelClass ~ 's.maxPerPage') }} onclick="return false;"{{ echo_endif() }}>
                            {{- echo_twig('"pagerfanta.num.elements"|trans({"%number%": perPage}, "Admingenerator")') -}}
                        </a>
                    </li>
                {{ echo_endfor() }}
            </ul>
        </div>
    {{ echo_endif() }}
{{ echo_endblock() }}
{% endblock %}

{% block list_paginator_pages %}
    {{ echo_block('list_paginator_pages') }}
        {{ echo_if ( builder.ModelClass ~ "s.haveToPaginate") }}
            <div class="pagination right">
                {{ echo_twig("pagerfanta(" ~ builder.ModelClass ~ "s, 'admingenerator')") }}
            </div>
        {{ echo_endif () }}
    {{ echo_endblock() }}
{% endblock %}
