{% use '../CommonAdmin/ListTemplate/nbresults.php.twig' %}
{% use '../CommonAdmin/ListTemplate/thead.php.twig' %}
{% use '../CommonAdmin/ListTemplate/tbody.php.twig' %}
{% use '../CommonAdmin/ListTemplate/paginator.php.twig' %}
{% use '../CommonAdmin/generic_actions.php.twig' %}
{% use '../CommonAdmin/batch_actions.php.twig' %}

{%- block list_results -%}
<div class="list_results">
    {{- block('form_batch_actions') }}

    <div class="list_header {{ echo_twig( builder.ModelClass ~ "s.haveToPaginate or "~ builder.ModelClass ~ "s.maxPerPage is not sameas(10) ? 'has_perpage'") }}">
        <div class="list_bar">
            {% if actions is defined and actions|length > 0 -%}
                <div class="list_actions">
                    {{ block('generic_actions') }}
                </div>
            {% endif -%}

            {{ block ('action_short_table') }}

            {% if batch_actions is defined and batch_actions|length > 0 %}
                {{ block('batch_actions') }} {# TODO #}
            {% endif -%}
        </div>
    </div>
    {{- echo_twig('block("list_totals")') -}}
    {{ echo_block("table_results") }}
    <div class="{{ echo_if("app.request.cookies.get('state') == 'full'") }} list_in_scroll {{ echo_endif() }}">
        <table id="table-list-{{ builder.ModelClass }}" class="table striped">
            {{ block('list_thead') -}}
            {{- block('list_tbody') }}
        </table>
    </div>
    {{ echo_endblock("table_results") }}

    <div class="list_footer">
        {{- block("list_paginator_pages") -}}
        {{- block('list_paginator_perpage') -}}
    </div>

    {{- block('endform_batch_actions') }}
</div>
{% endblock list_results %}