{% use '../CommonAdmin/ListTemplate/Column/boolean.php.twig' %}
{% use '../CommonAdmin/ListTemplate/Column/date.php.twig' %}
{% use '../CommonAdmin/ListTemplate/Column/datetime.php.twig' %}
{% use '../CommonAdmin/ListTemplate/Column/money.php.twig' %}
{% use '../CommonAdmin/ListTemplate/Column/decimal.php.twig' %}
{% use '../CommonAdmin/ListTemplate/Column/collection.php.twig' %}
{% use '../CommonAdmin/batch_actions.php.twig' %}

{% block list_row_content %}
    {{ echo_block("list_row_content") }}
        {{ block('row_batch_actions') }}
        {% for column in builder.columns %}
            {% if column.credentials %}
                {{ echo_if_granted(column.credentials) }}
            {% endif %}
                    {{ echo_set('show_created', '(show_created is not defined) ? 1 : 0', false) }}
                    {{ echo_set('tooltip', '[]', false) }}
                    {{ echo_if('show_created and ((' ~ builder.ModelClass ~ '.createdAt is defined) or (' ~ builder.ModelClass ~ '.createdBy is defined)or (' ~ builder.ModelClass ~ '.updatedAt is defined)or (' ~ builder.ModelClass ~ '.updatedBy is defined))') }}
                        {{ echo_set('tooltip', 'tooltip|merge([ "<p>" ])', false) }}
                        {{ echo_if(builder.ModelClass ~ '.createdAt is defined') }}
                            {{ echo_set('tooltip', 'tooltip|merge([ ' ~ builder.ModelClass ~ '.createdAt|date("' ~ builder.createdFormat ~ '") ])', false) }}
                        {{ echo_endif() }}
                        {{ echo_if(builder.ModelClass ~ '.createdBy is defined') }}
                            {{ echo_set('tooltip', 'tooltip|merge([ ' ~ builder.ModelClass ~ '.createdBy ])', false) }}
                        {{ echo_endif() }}
                        {{ echo_set('tooltip', 'tooltip|merge([ "</p>" ])', false) }}
                        {{ echo_set('tooltip', 'tooltip|merge([ "<p>" ])', false) }}
                        {{ echo_if(builder.ModelClass ~ '.updatedAt is defined') }}
                            {{ echo_set('tooltip', 'tooltip|merge([ ' ~ builder.ModelClass ~ '.updatedAt|date("' ~ builder.updatedFormat ~ '") ])', false) }}
                        {{ echo_endif() }}
                        {{ echo_if(builder.ModelClass ~ '.updatedBy is defined') }}
                            {{ echo_set('tooltip', 'tooltip|merge([ ' ~ builder.ModelClass ~ '.updatedBy ])', false) }}
                        {{ echo_endif() }}
                        {{ echo_set('tooltip', 'tooltip|merge([ "</p>" ])', false) }}
                    {{ echo_endif() }}
                    <td class="td_{{ column.dbType }} td_{{ column.name }}">
                        {{- echo_block('list_td_column_' ~ column.name) -}}
                            {%- if column.customView != null and builder.variable('custom_blocks') != null -%}
                                {{- echo_use(builder.variable('custom_blocks')) -}}
                                {{- echo_set('field_value', builder.ModelClass ~ '.' ~ column.getter, false) -}}
                                {{- echo_print_block('column_' ~ column.customView|lower) -}}
                            {%- elseif column.dbType|lower == "date" -%}
                                {{- block('column_date') -}}
                            {%- elseif column.dbType|lower == "boolean" -%}
                                {{- block('column_boolean') -}}
                            {%- elseif (column.dbType|lower == "datetime") or (column.dbType|lower == "timestamp") or (column.dbType|lower == "vardatetime") or (column.dbType|lower == "datetimetz") -%}
                                {{- block('column_datetime') -}}
                            {%- elseif column.formType|lower == "money" -%}
                                {{- block('column_money') -}}
                            {%- elseif column.dbType|lower == "decimal" -%}
                                {{- block('column_decimal') -}}
                            {%- elseif (column.dbType|lower == "array") or (column.dbType|lower == "collection")  -%}
                                {{- block('column_collection') -}}
                            {%- else -%}
                                {{- echo_twig(builder.ModelClass ~ '.' ~ column.getter) -}}
                            {%- endif -%}
                            {{ echo_if('tooltip is not empty') }}
                                <i class="mdi-hardware-keyboard-arrow-down tooltipped" data-tooltip="{{ echo_twig('tooltip|join("")') }}" data-position="bottom" data-delay="50"></i>
                            {{ echo_endif () }}
                        {{- echo_endblock() -}}
                    </td>
            {% if column.credentials %}
                {{ echo_endif () }}
            {% endif %}
        {% endfor %}
    {{ echo_endblock() }}
{% endblock %}