{% use '../CommonAdmin/ListTemplate/row.php.twig' %}
{% use '../CommonAdmin/object_actions.php.twig' %}

{% block list_row %}
{{ echo_block('list_row') }}
<tr class="{{ '{{ index is odd ? \'odd\' : \'even\' }}' }} {{ echo_block('list_row_class') }}{{ echo_endblock() }}">
    {{- block('list_row_content') -}}

    {{- block('object_actions') }}
</tr>
{{ echo_endblock() }}
{% endblock list_row %}