{% block list_scopes %}
{{ echo_block("list_scopes") }}
{% if scopes is defined %}
<div class="list_scopes btn-toolbar">
    {% for groupName, group in scopes %}
    <div class="list_scope_group btn-group">
        {% for scopeName, params in group %}
            <a class="{{ 'btn ' ~ params.class|default('') }} {{ echo_twig("scopes['" ~ groupName ~ "'] == '" ~ scopeName ~ "' ? 'active': 'inactive'") }}" href="{{ echo_path(builder.routePrefixWithSubfolder ~ '_' ~ bundle_name ~ ( builder.BaseGeneratorName ? "_" ~ builder.BaseGeneratorName : "" ) ~ '_scopes',
                "{ 'group': '" ~  groupName ~ "', 'scope': '" ~ scopeName ~ "' }") }}">
                {%- if params.icon is defined %}<i class="{{ params.icon }}"></i> {% endif -%}
                {{- echo_trans(scopeName, {}, i18n_catalog|default("Admin")) -}}
            </a>
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endif %}
{{ echo_endblock() }}
{% endblock %}
