{% use '../CommonAdmin/object_actions.php.twig' %}

{% block list_tbody %}
{{ echo_block("list_tbody") }}
    <tbody>
        {{ echo_if (builder.ModelClass ~ "s|length > 0") }}

        {{ echo_for(builder.ModelClass, builder.ModelClass ~ "s" ) }}
            {{ echo_include(builder.namespacePrefixForTemplate ~ bundle_name ~ ':' ~ builder.BaseGeneratorName ~ 'List:row.html.twig', { index: echo_twig('loop.index') }) }}
        {{ echo_endfor() }}

        {{ echo_else() }}
        <tr class="no_results_row">
        {% if batch_actions is defined and batch_actions|length > 0 %}
            <td colspan="{{ (object_actions|length > 0) ? (builder.columns|length + 2) : builder.columns|length+1 }}">{{ echo_trans('list.no.results') }}</td>
        {% else %}
            <td colspan="{{ (object_actions|length > 0) ? (builder.columns|length + 1) : builder.columns|length }}">{{ echo_trans('list.no.results') }}</td>
        {% endif %}
        </tr>
        {{ echo_endif () }}
    </tbody>
{{ echo_endblock() }}
{% endblock %}