{% use '../CommonAdmin/thead_th_sortable.php.twig' %}
{% use '../CommonAdmin/batch_actions.php.twig' %}

{% block list_thead %}
{{ echo_block("list_thead") }}
<thead>
    <tr class="list_thead">
    {% set batch = 0 %}
    {% if batch_actions is defined and batch_actions|length > 0 %}
        {% set batch = 1 %}
        {{ block('th_batch_actions') }}
    {% endif %}
    {% for column in builder.columns -%}
        {% if column.credentials %}
            {{ echo_if_granted(column.credentials) }}
        {% endif %}
            <th class="list_thead_column">
                {{- block('thead_th_sortable') -}}
            </th>
        {% if column.credentials %}
            {{ echo_endif () }}
        {% endif %}
    {% endfor -%}

    {%- if object_actions|length > 0 -%}
        <th class="actions" style="width: {{ object_actions|length * 44 }}px;">
            {{- echo_trans('list.header.actions') -}}
        </th>
    {% endif -%}
    </tr>
</thead>
{{ echo_endblock() }}
{% endblock %}