<?php

namespace {{ namespace }};

use Symfony\Bundle\FrameworkBundle\Controller\Controller;
use Admingenerator\GeneratorBundle\Exception\CantGenerateException;

/**
 * AdmingeneratorEmptyBuilderClass
 */
class {{ controllerName }} extends Controller
{
    public function indexAction({% if require_pk %}$pk{% endif %})
    {
        if ($this->get('request')->get('stop_loop')) {
            throw new CantGenerateException('Opps an error occurred in your configuration. If you\'re in prod try cache:warmup');
        }

        return $this->redirect($this->get('request')->getRequestUri()."?stop_loop=true");
    }
}
