{% extends 'knp_menu_base.html.twig' %}

{% macro attributes(attributes) %}
{% for name, value in attributes %}
    {%- if value is not none and value is not same as(false) -%}
        {{- ' %s="%s"'|format(name, value is same as(true) ? name|e : value|e)|raw -}}
    {%- endif -%}
{%- endfor -%}
{% endmacro %}

{% block compressed_root %}
    {{ block('root') }}
{% endblock compressed_root %}

{% block root %}
{% spaceless %}
    {% set listAttributes = item.childrenAttributes %}
    {{ block('list') -}}
{% endspaceless %}
{% endblock root %}

{% block list %}
    {% if item.hasChildren and options.depth is not same as(0) and item.displayChildren %}
        {% import _self as knp_menu %}
        <nav id="horizontal-nav" class="white hide-on-med-and-down"{{ knp_menu.attributes(listAttributes) }}>
            <div class="nav-wrapper">
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    {# save current variables #}
                    {% set currentOptions = options %}
                    {% set currentItem = item %}
                    {# update the depth for children #}
                    {% if options.depth is not none %}
                        {% set options = options|merge({'depth': currentOptions.depth - 1}) %}
                    {% endif %}
                    {# update the matchingDepth for children #}
                    {% if options.matchingDepth is not none and options.matchingDepth > 0 %}
                        {% set options = options|merge({'matchingDepth': currentOptions.matchingDepth - 1}) %}
                    {% endif %}
                    {% for item in currentItem.children if item.displayed %}
                        {%- set classes = item.attribute('class') is not empty ? [item.attribute('class')] : [] %}
                        {%- if matcher.isCurrent(item) %}
                            {%- set classes = classes|merge([options.currentClass]) %}
                        {%- elseif matcher.isAncestor(item, options.matchingDepth) %}
                            {%- set classes = classes|merge([options.ancestorClass]) %}
                        {%- endif %}
                        {%- if item.actsLikeFirst %}
                            {%- set classes = classes|merge([options.firstClass]) %}
                        {%- endif %}
                        {%- if item.actsLikeLast %}
                            {%- set classes = classes|merge([options.lastClass]) %}
                        {%- endif %}

                        {# Mark item as "leaf" (no children) or as "branch" (has children that are displayed) #}
                        {% if item.hasChildren and options.depth is not same as(0) %}
                            {% if options.branch_class is not empty and item.displayChildren %}
                                {%- set classes = classes|merge([options.branch_class]) %}
                            {% endif %}
                        {% elseif options.leaf_class is not empty %}
                            {%- set classes = classes|merge([options.leaf_class]) %}
                        {%- endif %}

                        {% if matcher.isCurrent(item) or (item.uri in app.request.uri and item.uri|trim('/') != app.request.baseUrl|trim('/')) %}
                            {%- set classes = classes|merge([ 'active' ]) %}
                        {% endif %}

                        {%- set attributes = item.attributes %}
                        {%- if classes is not empty %}
                            {%- set attributes = attributes|merge({'class': classes|join(' ')}) %}
                        {%- endif %}
                        <li{{ knp_menu.attributes(attributes) }}>
                            {% set linkAttributes = item.linkAttributes %}
                            {% set labelAttributes = item.labelAttributes %}
                            {%- set classes = [ 'orange-text' ] %}
                            {%- if item.hasChildren -%}
                                {%- set classes = classes|merge([ 'dropdown-menu' ]) %}
                            {%- endif -%}
                            {% if linkAttributes.class is not defined %}
                                {% set linkAttributes = linkAttributes|merge({'class': ''}) %}
                            {% endif %}
                            {% if labelAttributes.class is not defined %}
                                {% set labelAttributes = labelAttributes|merge({'class': ''}) %}
                            {% endif %}
                            {% set linkAttributes = linkAttributes|merge({'class': linkAttributes.class ~ ' ' ~ classes|join(' ')}) %}
                            {% set labelAttributes = labelAttributes|merge({'class': labelAttributes.class ~ ' ' ~ classes|join(' ')}) %}
                            {%- if item.uri is not empty and (not matcher.isCurrent(item) or options.currentAsLink) -%}
                                <a href="{{ item.uri }}"{{ knp_menu.attributes(linkAttributes) }}>
                                    {% if item.icon %}<i class="{{ item.icon }}"></i>{% endif %}
                                    <span>
                                        {%- if options.allow_safe_labels and item.getExtra('safe_label', false) -%}
                                            {{- item.label|raw -}}
                                        {%- else -%}
                                            {{- item.label -}}
                                        {%- endif -%}
                                    </span>
                                </a>
                            {%- else -%}
                                <a href="#!" data-activates="menu-item-{{ item.name }}" {{ knp_menu.attributes(labelAttributes) }}>
                                    {% if options.allow_safe_labels and item.getExtra('safe_label', false) %}
                                        <i class="mdi-editor-border-all"></i>
                                        <span>{{ item.label|raw }}<i class="mdi-navigation-arrow-drop-down right"></i></span>
                                    {% else %}
                                        <i class="mdi-editor-border-all"></i>
                                        <span>{{ item.label }}<i class="mdi-navigation-arrow-drop-down right"></i></span>
                                    {% endif %}
                                </a>
                            {%- endif -%}
                        </li>
                    {% endfor %}
                    {# restore current variables #}
                    {% set item = currentItem %}
                    {% set options = currentOptions %}
                </ul>
            </div>
        </nav>
        {% for item in currentItem.children if item.displayed and item.hasChildren %}
            <ul id="menu-item-{{ item.name }}" class="dropdown-content dropdown-horizontal-list">
                {% for child in item.children %}
                    <li>
                        <a href="{{ child.uri }}" class="orange-text">
                            {%- if options.allow_safe_labels and child.getExtra('safe_label', false) -%}
                                {{- child.label|raw -}}
                            {%- else -%}
                                {{- child.label -}}
                            {%- endif -%}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endfor %}
    {% endif %}
{% endblock list %}