{% trans_default_domain "Admingenerator" %}

$(function($){
    $.datepicker.regional['{{ locale }}'] = {
        closeText:          '{{ 'datepicker.close'|trans|raw }}',
        prevText:           '&#x3c;',
        nextText:           '&#x3e;',
        currentText:        '{{ 'datepicker.today'|trans|raw }}',
        monthNames:         [ "{{ months|join('", "')|raw }}" ],
        monthNamesShort:    [ "{{ shortMonths|join('", "')|raw }}" ],
        dayNames:           [ "{{ weeks|join('", "')|raw }}" ],
        dayNamesShort:      [ "{{ shortWeeks|join('", "')|raw }}" ],
        dayNamesMin:        [ "{{ shortWeeks|join('", "')|raw }}" ],
        weekHeader:         '{{ 'datepicker.week'|trans|raw }}',
        firstDay:           1,
        isRTL:              false,
        showMonthAfterYear: false,
        yearSuffix:         ''
    };
    $.datepicker.setDefaults($.datepicker.regional['{{ locale }}']);
});