{% use '../CommonAdmin/security_action.php.twig' %}
{% block index_use %}
use Symfony\Component\HttpKernel\Exception\NotFoundHttpException;
use {{ builder.namespacePrefixWithSubfolder }}\{{ bundle_name }}\Form\Type\{{ builder.BaseGeneratorName ? builder.BaseGeneratorName ~ char(92) : "" }}EditType;
{% endblock %}

{% block index %}

    public function indexAction($pk)
    {
        ${{ builder.ModelClass }} = $this->getObject($pk);

        {% if concurrency_lock -%}
        $this->saveVersion($pk, ${{ builder.ModelClass }}->getVersion());
        {%- endif %}
        
        {{ block('security_action_with_object') }}

        if (!${{ builder.ModelClass }}) {
            throw new NotFoundHttpException("The {{ model }} with {{ builder.getFieldGuesser().getModelPrimaryKeyName(model) }} $pk can't be found");
        }

        $form = $this->createForm($this->getEditType(), ${{ builder.ModelClass }}, $this->getFormOptions(${{ builder.ModelClass }}));

        return $this->render('{{ builder.namespacePrefixForTemplate }}{{ bundle_name }}:{{ builder.BaseGeneratorName }}Edit:index.html.twig', $this->getAdditionalRenderParameters(${{ builder.ModelClass }}) + array(
            "{{ builder.ModelClass }}" => ${{ builder.ModelClass }},
            "form" => $form->createView(),
        ));
    }
{% endblock %}
