/*************************** General *************************/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, input,button,
mark, audio, video      { margin: 0; padding: 0; border: 0; font-size: 1em; font-family: Tahoma, "Trebuchet MS",  Helvetica, sans-serif; vertical-align: baseline; }
header, footer, aside, 
nav, article, section   { display: block; }
html                    { height: 100%; }
body                    { /*display: inline-block;*/ min-width: 100%; min-height: 100%; height: 100%;  font-size: 14px; line-height: 1.1; color: #444; background: #f2f2f2;  }
img                     { border: none;}
ul, li                  { list-style: none; display: block; }
p                       { margin: 0.4em 0px; text-align: left;}
table                   { border-collapse: collapse; border-spacing: 0px;}
h1, h2, h3, h4, h5, h6 	{ margin: 1em 0 0.8em 0; color: #000; line-height: 1.2em; font-weight: normal;}
h1                      { font-size: 1.5em; margin: 0em; }
h2                      { font-size: 1.3em; }
h3                      { font-size: 1.2em; }
small                   { font-size: 0.8em; } 
a                       { cursor: pointer; color: @color-link; text-decoration: underline;
    &:hover             { text-decoration: none; color: darken(@color-link, 10%); }
}

@import url("base_styles.less");

/******************************* Base styles **********************************/
.body                    { position: relative; min-height: 100%;  min-width: 100%; } /*for footer in bottom*/
// INPUTS
.input                                      { .input_style; padding: 0.55em; vertical-align: middle; line-height: 1.1em; /*for apple to our css styles*/-webkit-appearance: none; border-radius: 0; 
     &:focus                                { .input_focus; }
     &[readonly]                            { cursor: default; background: none; border-color: #ddd; box-shadow: none; }
     &[disabled]                            { cursor: default; color: #aaa; background: #f5f5f5; border-color: #e2e6e7; box-shadow: none; }
     &:invalid                              { border-color: @color-red; box-shadow: 0 0 2px lighten(@color-red, 10%); }
}
 /* for Firefox */ body:not(:-moz-handler-blocked) input[type="text"]:not(.select2-input), input[type="password"], input[type="phone"], 
input[type="number"], input[type="email"],  input[type="date"],     
input[type="file"], textarea, select, button { padding-top: 0.61em !important; padding-bottom: 0.61em !important; }
input[type="text"]:not(.select2-input), input[type="password"], input[type="phone"], 
input[type="number"], input[type="email"],  input[type="date"],  input[type="time"],
input[type="file"], textarea, select        { .input; min-width: 22em; }
textarea                                    { min-width: 18.8em; }
.form_row_icon .field_content input         { min-width: 20em; }
 
// RADIO and CHECKBOX
.input_multy                                { display: none;
    + i                                     { cursor: pointer; }
    + i:before                              { content: ""; display: inline-block; height: 1.3em; width: 1.3em; margin: 0.5em; margin-left: 0em; vertical-align: middle; border: 0.2em solid lighten(@color-gray, 5%); background: #fff; }
    &:checked + i:before                    { border-color: @color-main; background-image: @check-radio; background-position: 0.2em 0.15em;  background-repeat:  no-repeat; background-size: 1em 6.2em;  }
    :disabled + i::before                   { border-color: lighten(@color-gray, 5%); }
    &:checked:disabled + i:before           { background-position: 0.2em -1.25em; }  
}
input[type="checkbox"]                      { .input_multy; }
input[type="radio"]                         { .input_multy; 
    + i:before                              { border-radius: 0.8em; }
    &:checked + i:before                    { background-position: 0.23em -2.56em; }
    &:checked:disabled + i:before           { background-position: 0.23em -3.85em; }
}

// DATE PICKER
input[type="text"].hasDatepicker           { width: 6.6em !important; min-width: 6em !important; }
//SMALL INPUTS
.field_number input[type="text"],
.field_amount input[type="text"]           { .input_amount; }

// SELECT 2 
.select2-container, .select2-container-multi  { min-width: 11em; margin-bottom: 0.5em; 
    .select2-choice, .select2-choices         { .input; display: block; height: 1.3em; padding: 0.5em; border-radius: 0em;
        .select2-arrow, .select2-search-field { background: none; border: none; right: 0.3em;
            b, .select2-input                 { .arrow_down(0.5em, @color-gray ); width: auto; height: auto; background: none; }
            .select2-input                    { width: 0 !important; min-width: 0; height: 0; margin-top: 0.5em; padding: 0; box-shadow: none; }
        }
    }
    &.select2-dropdown-open .select2-choices, 
    &.select2-container-active .select2-choices        { .input_focus; }
    .select2-choices                                   { min-height: 1.4em; 
        .select2-search-field                          { float: right; }
        .select2-search-choice + .select2-search-field { display: none; }
    }
    .select2-choice    {
        .select2-chosen                     { margin-right: 1.5em; }
        .select2-arrow                      { display: none; }
        abbr.select2-search-choice-close    { .absolute_right(24%, 0.1em); display: inline-block; height: 1.2em; width: 1.2em; background-size: 0.9em 2.7em; background-position: 0 0; background-image: @icon-close; font-size: 1.1em;
            &:hover                         { background-position: 0 -1.65em; }
        }
    }
}
.select2-offscreen + select2-container      { min-width: 8em;}
.select2-drop-active, 
.select2-dropdown-open .select2-choice      { .input_focus;
    .select2-results                        {
        .select2-highlighted                { background: @color-main; }
        .select2-result-label               { padding: 0.6em 0.3em; }
    }
}
.select2-with-searchbox .select2-search     { padding: 0.3em;
    .select2-input                          { padding: 0.4em; padding-right: 1.3em; }
}
.input_icon +.select2-container             { min-width: 9em; }

.select2-dropdown-open.select2-drop-above .select2-choice,
.select2-dropdown-open.select2-drop-above .select2-choices { background: #fff; }

//select2 in batch_actions
.batch_actions .select2-container, 
.batch_actions .select2-container-multi     { margin-bottom: 0em; }


//select2-container-multi
.select2-container-multi                    { min-width: 22em;  
    .select2-choices                        { padding: 0.4em !important;  
        .select2-search-field               { float: none !important;                                                                      
            input.select2-input             { height: 1em !important; margin: 0 0 0 0.3em !important; padding: 0.3em 0.2em; border: 1px solid #aaa !important; background: #fff url('../../pinanoselect2/images/select2.png') no-repeat 100% -22px !important; background: url('../../pinanoselect2/images/select2.png') no-repeat 100% -22px, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, #fff), color-stop(0.99, #eee)) !important; background: url('../../pinanoselect2/images/select2.png') no-repeat 100% -22px, -webkit-linear-gradient(center bottom, #fff 85%, #eee 99%) !important; background: url('../../pinanoselect2/images/select2.png') no-repeat 100% -22px, -moz-linear-gradient(center bottom, #fff 85%, #eee 99%) !important; background: url('.../../pinanoselect2/images/select2.png') no-repeat 100% -22px, linear-gradient(top, #fff 85%, #eee 99%) !important; display: inline;  min-width: 2em !important; width: auto !important; }
        }
    .select2-search-choice + .select2-search-field { display: inline-block !important; }
    }
}
.list_filters .select2-container-multi .select2-choices .select2-search-field input.select2-input  { height: 1.8em !important; }
// SUBMIT and BUTTON   
input[type="button"], input[type="submit"], button  { .button; height: 2.55em; padding-top: 0.6em; /*for apple to our css styles*/-webkit-appearance: none; }
input[type="submit"]                        { .button_icon; /*for apple to our css styles*/-webkit-appearance: none; border-radius: 0 }
input[type="submit"].simple                 { height: 2.5em; padding-left: 0.6em !important; background-image: none;/*for apple to our css styles*/-webkit-appearance: none; border-radius: 0 }
input[type="submit"]                        { background-color: @color-dark-main; border-top-color: lighten(@color-dark-main, 10%); 
    &:hover                                 { background-color: @color-hover; border-top: 1px solid lighten(@color-main, 10%); }
}

// DROP LIST
.drop_list                                  { .drop_list_style; }                     

// POPUP BOX 
.popup                                      { .popup_style;
    .popup_content                          { padding: 0.5em; white-space: nowrap; -webkit-transition-property: visibility; -webkit-transition-duration: @admingenerator_popup_timeout; -moz-transition-property: visibility; -moz-transition-duration: @admingenerator_popup_timeout; -o-transition-property: visibility; -o-transition-duration: @admingenerator_popup_timeout; transition-property: visibility; transition-duration: @admingenerator_popup_timeout;
        a                                   { display: inline-block; margin: 0.3em; }
    }
    &.above   .popup_content                { top: auto !important; bottom: 100%; min-height: 3.9em; }   
}

.popup_created .popup_content               { right: auto; }

// FLASHES (errors and notification on the page)
.notification_box                           { padding: 0.5em 1em; background: fadeout(@color-yellow, 85%); color: darken(@color-yellow, 20%);
    &.success                               { background: fadeout(@color-green, 80%); color: darken(@color-green, 10%); }
    &.error                                 { background: fadeout(#ff5350, 15%); color: #fff; font-size: 0.8em; }
}

    
// TABS 
// item of menu-tab
.tabs                                        { .tabs_style; 
    a.has_error:after                        { color: #c80808; content: " *"; }
}
// content tabs
.tab_content                                 { padding: 1em; background: lighten(@color-gray, 20%); 
    legend                                   { background: none; font-size: 1.2em;
       &:first-child                         { display: none; }                                         
    }
}

/***********************LANG TABS**********/
.lang_tabs                                      { .tabs_style( @color-gray, fadeout(@color-main, 100%), lighten(@color-gray, 5%)); margin-top: 0; background: none;
    a                                           { .border_box; width: 45px; height: 30px; border: 1px solid @color-gray; background-image: url(../../../../../../../bundles/admingeneratorgenerator/images/icons_flag.png); background-repeat: no-repeat; background-position: 6px 4px; 
        &.en                                    { background-position: 6px -48px; }
        &.uk                                    { background-position: 6px -96px; }
        &.active                                { position: relative; }
        &:hover                                 { color: #fff; }
        &.selected                              { border-bottom: none; }
    }
    .badge-important                            { color: red; } 
}
.form_row .lang_tab_content .form_row label     { .ar; display: inline-block; width: 20%; }
.form_block .field_translations                 { margin-left: 0em; margin-right: 1em;
    > label                                     { display: none !important; }
    .field_content                              { width: 100%;
        .field_content                          { width: auto; }
    }
    .tab_content                                { padding: 0.7em; border: 1px solid @color-gray; margin-top: -1px; }
    .field_description .field_content, .field_shortDescription .field_content,
    .field_text .field_content                  { max-width: 76%; }
}
.form_row .form_row label                       { display: block; width: auto; padding-bottom: 0.5em; padding-top: 0.2em; text-align: left; }
.form_row.field_nl_translation .form_row label  { .ar; display: inline-block; width: 20%; } 
// PAGINATION
.pagination                                  { 
    li                                       { display: inline-block; margin-right: 0.5em; 
        a                                    { display: inline-block; width: 4.2em; padding: 0.75em 0; color: #fff; background-color: @color-main; border-radius: 1.6em; text-align: center; vertical-align: bottom; text-decoration: none; font-size: 1.2em;
            &.number                         { width: 2.6em; }
            .prev                            { .arrow_prev; }
            .next                            { .arrow_next; }
        }
        &.active a, a:hover                  { background-color: @color-hover; }
    }
} 

// RESPONSIVE TABLE
.footable                                           { 
    //styles for tablet, phone versions
    &.breakpoint  tr                                { 
        &:hover:not(.footable-row-detail)           {  cursor: pointer; }
        th                                          { -webkit-touch-callout: none; }
        td                                          { 
            .object_actions a span                  { display: block; }
            span.footable-toggle                    { display: inline-block;  speak: none; position: relative; } 
        }
        //3 points FOR MINIMIZED TABLE
        td.footable-visible.footable-last-column    { padding-right: 3em; background-image: @icon-more-info; background-position:  100% 50%; background-size: 3em 3em; background-repeat: no-repeat; }        
        //opened tr
        &.footable-detail-show                      {  
            .footable-visible, .invoice_date        { color: #fff; background-color: @color-main; }
            table                                   { color: #000; }
        }
        //styles for details of opened tr
        &.footable-row-detail                       { 
            td                                      { background-color: @color-light-main; }
            .footable-row-detail-inner              { display: table; 
                .footable-row-detail-row            { display: table-row; 
                    .footable-row-detail-name,
                    .footable-row-detail-value      { display: table-cell; }
                    .footable-row-detail-name       { padding: 0.3em 1em 0.3em 0; }
                    .footable-row-detail-value      { padding: 0.3em; }
                }
            }
            //small table in  big table in mobile version
            .footable-row-detail-value table        { width: auto;
                td                                  { background: #fff; border: 1px solid @color-gray !important; }
            }
        } 
        //?????
        .footable-row-detail-group                  {  display: block;} 
    }   
    // popup inline FOR MINIMIZED TABLE 
    .footable-row-detail .object_actions .popup, 
    .footable-row-detail .popup_file.popup          { position: inherit; padding: 0; vertical-align: top;
            .popup_arrow                            { visibility: hidden; }
            .popup_content                          { visibility: visible; position: inherit; padding: 0em; border: none; background: none; box-shadow: none;
                a                                   { display: inline-block; margin-top: 0; }
            }
        }  
    }  


//TABLE BALLANCE
.table_ballance                                     { .table; }

// LOADER
.search_results_loader                      { position: relative;
    .loader                                 { .absolute_left(50%, 50%); margin-top: -0.5em; margin-left: -4.7em; }
}

// ZOPIM CHAT BUTTON
.zopim                                      { display: none; }

// Redline
#vdb_loading_background_text                { border-radius: 0 !important; }
.visualdebug_wrapper .control_box           { background-color: #008abd !important; border-color: #00aff0 -moz-use-text-color -moz-use-text-color !important; border-image: none !important; border-right: medium none !important; box-shadow: none !important;  padding: 8px 8px 11px 8px; border-radius: 0 !important; 
    .draw_circle, .draw_arrow, .submit_nudge, .submit_nudge_cancel  { border-radius: 0 !important; } 
    .submit_nudge_cancel                    { margin-top: 3px; background-color: #bbb !important;  background-image: none !important; border: none!important; box-shadow: none !important; }
    .draw_arrow, .submit_nudge              { background-color: #eee !important;  background-image: none !important; border: none!important; box-shadow: none !important;} 
    .draw_arrow                             { padding-bottom: 2.5px; } 
}

/******************************* LOGIN PAGE ***********************************/
.login_page, .login_page .header            { background: lighten(@color-dark-main, 5%); 
    #_submit                                { padding-left: 0.7em !important; background-image: none; }
    .footer                                 { display: none; }
}
.login_content                              { font-size: 1.5em; width: 15em; margin: 13% auto 0; padding: 2.5em; background: rgba(255, 255, 255, 0.06);; border: 1px solid rgba(255, 255, 255, .25);
    .form_row                               { 
        label                               { display: none; }
    }
    input                                   { .border_box; width: 100%; min-width: 11em !important; }
    .notification_box                       { margin-bottom: 0.5em; }
    .google                                 { display: block; text-align: center; margin-top: 1em; background-image: @icon_google; background-size: 1em; background-position: 1em; background-repeat: no-repeat; }
}


/******************************* HEADER ***************************************/
.header                                     { position: relative; overflow: hidden; padding-top: 0.2em; background-color: @color-dark-main;
    // LOGO can be with image and/or text 
    .logo                                   { float: left; display: inline-block; height: 1.6em; max-width: 15em; overflow: hidden; padding: 0.2em 0.5em; color: #fff; text-decoration: none;  font-size: 1.5em;
        img, span                           { display: inline-block; vertical-align: middle; }
        img                                 { height: 1.6em; width: auto; }
        span                                { height: 1.3em; overflow: hidden; padding-top: 0.18em }
    }    
    // top menu for mobile devices (display none on PC)
    .menu_mobile                            { display: none; float: right;
        a                                   { .icon (-0.3em, 0.2em, @icon-white); display: inline-block; width: 2.8em; height: 2.8em; padding-bottom: 0.2em; margin-top: -0.2em;  
            &:hover                         { background-color: lighten(@color-dark-main, 4%); }
            &.active                        { background-color: lighten(@color-dark-main, 5%); }
        }
    }
    // styles for main menu (and other drop menus in header) 
    .menu_drop                              { position: relative; z-index: 900;
        .menu_level_1                       { width: 150%; }
        &.menu_main                         { margin-right: 10em; }
        &.has_submenu                       { height: 6.4em; }
        &.has_submenu_level2                { height: 9.55em; }
        li                                  { .menu; display: inline-block; border: none;
            ul                              { display: none; .absolute_left (3.1em, 0); width: 100%; padding: 0.1em 0em; 
                li                          { background: none;
                    ul                      { display: none; .absolute_left (3.2em, 0); }
                    &.active                { background: lighten(desaturate(@color-main, 5%), 5%);
                        ul                  { display: block; background: lighten(desaturate(@color-main, 5%), 5%); }
                    }
                }
            }
            &.active ul.menu_level_1        { display: block; background: @color-main; z-index: 1000; }
            // green dot for active menu item
            &.current:not(.active)          { position: relative;
                &:before                    { .absolute_left (1.35em, 0.2em); content: ''; width: 0.5em; height: 0.5em; border-radius: 50%; background-color: @color-green; }
            }
        }  
    }
    
}

// header with menu under logo
.header_big .logo                           { float: none; } 


/******************************* ADMIN LIST ***********************************/

// add list to scroll if table is 'full'
.list_in_scroll  { overflow-y: auto; margin-bottom: 1em; 
    .table       { margin-bottom: 0em !important; }        
}

// content layout
.content                                    { position: relative; overflow: hidden; padding-bottom: 3em;
    header                                  { padding: 0.5em 1em; margin-bottom: 0.5em; background-color: @color-gray; }
    .list_results                           { margin-right: 0em; padding: 0 0.6em; }
}

// HEADER LIST
.list_header                                { position: relative; margin-bottom: 0.5em;  
    &.has_perpage                           { min-height: 3.1em; }
    .list_bar                               { display: inline-block; 
        .list_actions a                     { .link_icon;  
           & + a                            { margin-left: 1.5em; }
        }
     }    
}
    
// Total data for list_results(after list_header) (empty by default) 
.list_totals                                { margin-bottom: 0.5em; 
    span                                    { margin-right: 1em; }
}
    
// LIST TABLE 
.list_results .table                        {
    // table header sorts
    thead th                                { 
        .sort_desc a:after                  { .arrow_down(0.4em, @color-main); margin-bottom: -0.2em; margin-left: 0.3em; content: ''; }
        .sort_asc a:after                   { .arrow_up(0.4em); margin-bottom: 0.2em; margin-left: 0.3em; content: ''; }
    }  
    // table content
    tbody td                                { 
        // id batch
        &.td_batch_action                   { .w1; .ac; }
        // number fields
        &.td_decimal,
        &.td_total,
        &.td_number, 
        &.td_integer,
        &.td_amount                         { .ar; .nowrap; .w1; }
        // date
        &.td_date, &.td_status              { .ac; }
        // boolean
        &.td_boolean                        { .ac; }
        // ul list 
        &.td_collection ul                  { .list_bullet; }
        // id field
        &.td_id                             { .ac; .w1; .bold; }
        // table actions
        .object_actions a                   { .link_icon_mini; }
        &.td_object_actions                 { .w1; .nowrap; 
            .object_actions                 { 
                a span                      { display: none; } 
                .popup a span               { display: block; }
            }
        }
        &.td_comment                        { width: 14.2em;
            .comments, .form_row            { font-size: 0.9em; }
            .comment_item                   { padding: 0.1em 0;
                small                       { .small; color: darken(@color-gray, 20%); }
            }
            .form_row                       { margin-top: 0.7em;
                label                       { display: block; width: auto; text-align: left; }
                textarea                    { min-width: 14.2em; }
            }
        }
    }    
}

// LIST FOOTER
.list_footer                                { .ac; position: relative; margin-bottom: 1em;
    .list_perpage ul                        { .absolute_right (auto, 0); bottom: 100%;  }
}

// list per page
.list_perpage                               { .absolute_right;
    label                                   { margin-right: 0.5em; }
    //style for drop-list
    .drop_list                              {
        .selected                           { font-size: 1.3em; }
        a                                   { font-size: 1.3em; }
        ul                                  { .ac; 
           &.above                          { .absolute_right (auto, 0); bottom: 100%;  }                            
        }
        
    } 
}


// FORM ROW
.form_row                                    { margin-bottom: 1.5em; 
    label                                    { .ar; display: inline-block; width: 20%; padding-right: 1em; vertical-align: middle;
        &.required:after                     { content: ' *'; color: @color-red; }
    }
    &.field_textarea label, &.field_file label { padding-top: 0.7em; vertical-align: top; }
    //style for field_content
    .field_content                           { display: inline-block; vertical-align: middle;
        textarea                             { height: 5em; resize: none;}
        .select2-container                   { margin-bottom: 0em; margin-right: 1em; }
        br                                   { display: none; }
        .collection li                       { display: inline-block; margin-bottom: 0.5em;
            label                            { width: auto; }
        }
        .errors                              { padding: 0em; padding-bottom: 0.5em; margin: 0; background: none; }
    }
}

/********************************** FILTERS************************************/
//Button hide/show for filter
.toggle_filter                              { .absolute_right (3.8em, 0); padding: 0.5em; z-index: 1000; 
    i                                       { display: inline-block; border: 0.7em solid transparent; border-left: 0.7em solid #fff; }
    &.active                                { .link_icon; .absolute_right (2.8em, 0em); padding-right: 0.6em;   padding-top: 0.5em;
        i                                   { background-position: -0.2em -18.4em; margin-right: 0em; border: none; }
    }
}
.toggle_filter:hover + .list_filters legend { background: @color-dark-main; }

//list filters
.list_filters                               { display: block; float: right; width: 17em; margin-bottom: 1em; padding-bottom: 1em; background: @color-light-main;
    legend                                  { .border_box; width: 100%; padding: 0.75em 1em; background: @color-main; font-size: 1.2em; color: #fff; }
    fieldset                                { padding: 0.5em 0.5em 0 1em; }
    .field_content                          { width: 100%; 
        .collection li                      { display: block; }
    }
    .actions                                { .ac; 
        button                              { margin-bottom: 0.5em; }
    }
    &.visible_pc                            { display: none !important; }
    &.visible_pc + .list                    { margin-right: 0em !important; }
    &.visible_pc + .list .list_perpage      { margin-right: 4em; }
    .form_row                               { margin-bottom: 0.5em; padding-bottom: 0.5em; border-bottom: 1px solid fadeout(#fff, 60%); 
        .field_content .select2-container   { width: 100% !important; margin-right: 0em; margin-bottom: 0.5em; 
            .select2-chosen                 { max-width: 11em; }
        }
        label                               { display: inline-block; width: auto; padding-bottom: 0.5em; text-align: left; }
    }
    .field_from, .field_to                  { margin-bottom: 0em; border: none; }
    input[type="text"], input[type="password"], input[type="phone"], 
    input[type="date"], input[type="number"], input[type="email"], input[type="time"],
    input[type="file"], textarea, select    { .border_box; width: 100% !important; }
} 

//if table + filter
.list_filters + .list_results               { margin-right: 17em !important; }

// custom filters with buttons width: 100%; for ballance pages
.custom_filters                             {
    #form, .actions                         { padding: 0.5em; padding-left: 1em;  }
    button, .actions a                      { .border_box; width: 100%; margin-bottom: 0.5em; }
    .actions a:hover                        { color: #fff; }
    .actions .i_excel                       { padding-right: 3em; }
}

// selected filters on the top of page
.selected_filters                           { display: none; padding: 0 1em;
    span                                    { display: inline-block; width: 49%; padding: 0.5em 0; 
        a                                   { font-size: 0.7em; }
    }
}

// absolute filters (for map page etc)
.filters_top .list_filters                  { .absolute_right(3.3em, 0); z-index: 1; }

//filters above list_results
.filter_top                                 { overflow: hidden; background-color: @color-light-main; padding: 1em 1em 0em 1em;
    .select2-container, .select2-container-multi { margin-bottom: 0em; max-width: 9em; }
    .item                                   { display: inline-block; margin: 0 1em 1em 0;
        label                               { display: inline-block; width: 9em; .ar; }
    }
    .actions                                { display: inline-block; }
    .filtr_container                        { float:left; }
    input[type="text"]:not(.select2-input), 
    input[type="password"], input[type="phone"], 
    input[type="number"], input[type="email"], input[type="time"],
    input[type="date"], input[type="file"], 
    textarea, select                         { min-width: 8em; }
}

// SELECT 2  
.list_filters {
    .select2-container, .select2-container-multi  { min-width: 11em; margin-bottom: 0.5em; } // decrease min-width only for filters
    input[type="text"]:not(.select2-input), 
    input[type="password"], input[type="phone"], 
    input[type="date"], input[type="number"], 
    input[type="email"], input[type="file"], input[type="time"],
    textarea, select                              { min-width: 11em; }
}
 
/****************************** ADMIN FORM ************************************/
.form_admin                                 { padding: 1em 0 0; // выяснить можно ли избавится от этой привязки на .form_admin, с соответственно переносом этих паддингов на другие элементы
    legend                                  { .border_box; width: 100%; padding: 0.5em; background: fadeout(@color-gray, 60%); color: #000; }
    legend + *                              { -webkit-margin-top-collapse : separate; margin-top: 1.5em; }
    //downloader files
    .files                                  { .table;
        .template-download  td, 
        .template-upload td                 { height: 3.2em; padding: 0.5em; vertical-align: middle; 
            &.name                          { max-width: 200px; word-break: break-all; }
            &.delete                        { .w1; }
            button.delete                   { height: 3.2em; padding: 0 !important; }                        
        }
    }
    .form-actions                           { padding: 1em; background: fadeout(@color-gray, 60%); 
       a                                    { .button_icon; padding-top: 0.7em; }
    }
    .errors                                 { padding: 0.5em 1em; /*margin-top: -1.5em;*/ margin-bottom: 1em; background: fadeout(@color-red, 85%); color: @color-red; }
}

/****************************** ADMIN SHOW ************************************/
.admin_show                                 { padding: 0 1em;
    legend                                  { padding-left: 1em; margin-bottom: 0.5em; }
    td                                      { .ar; width: 30em; padding: 0.5em; padding-left: 1em;  }
    td + td                                 { text-align: left; .bold; }
    .form-actions a                         { .button; } /// ???? точно нужно? глобально это нельзя прописать?
}

/**************************** ORDER FORM NEW/EDIT *******************************/
.order_tabs                                     {
   .order_tabs_block                            {
        .field_name                             {
            label                               { display: none !important; }
            .field_content                      { .border_box; width: 100%;
                input                           { .border_box; width: 100%; }
            }
        }
        .supplier                               { width: 15em;  }
        .name_product                           { width: 50%; }
        .number                                 { width: 5em; min-width: 5em; }
        .warehouse_name                         { font-style: italic; }
        .search_results                         {  overflow: auto; min-height: 11.4em; border: 1px solid @color-gray; background-color: #fff; // если хедер фиксированный, то заменить оверфлоу на хайден
            .search_product                     {
                .search_prod_name               { text-align: left;  }
                .storePrice, .name_product       { .bold;  }
                table                           { .table; margin-bottom: 0em;
                    tbody tr                    {
                        &.colored td            { background: #FFDCDC; }
                        &:hover td              { cursor: pointer; }
                    }
                }
                /*.fht-table-wrapper .fht-tbody   { overflow: auto; } для фиксир хедера*/
            }
        }
        .field_comment                          {
            label                               { display: none !important; }
            .comment_item                       { padding: 0.1em; line-height: 1.3em;
                small                           { .small; }
            }
        } 
        .table_order_entry                      { 
            .order_entry_thead                  { .w1; white-space: nowrap; }
            .order_entry_name + td div          { display: inline-block; }
            .currency .select2-choice           { min-width: 3em; }
            td                                  { .border_box; 
                label                           { display: none; }
                &.order_entry_delete            { .w1; }
                input                           { .border_box; min-width: inherit; width: 5.5em;  font-size: 1em;
                    &.quantity                  { width: 2.8em; }
                }
                div                             {  
                    .select2-display-none       { display: none; }
                }
            }
        }
        .order_total                            { .ar;  padding-bottom: 0.5em; font-size: 1.2em; }
        #order_total                            { .bold; }
    }
}

/***************************** ORDER LIST *********************************/
.order_entry_list_statuses, .order_list_statuses    { white-space: nowrap;
    .icon_round                                     { font-size: 1.1em !important; }
}
.footable-row-detail-value .popup .popup_content    { left: 0; right: auto; }

.two_items      { 
    #s2id_edit_order_select_city_for_warehouse { margin-top: 0.3em; }
    .select_warehouse_warehouse  { margin-top: 0.3em;}
    .i_sklad                     { margin-top: 0.3em; }
}

/**************************** DOUBLE LIST *********************************/
.field_double_list                                  { 
    .field_content                                  { padding: 0.5em; background-color: fadeout(@color-gray, 75%);
        .dropdown , .list-controls                  { display: inline-block; 
            &.list-unselected                       { margin-right: 3.9em; }
        }
        .list-controls                              { .absolute_left(29%, 46.3%); margin: 0; }
        .field_content                              { padding: 0; background: none; }
        //double_list
        .double_list                                { 
            div                                     { display: inline-block; }
            select                                  { max-height: 15em; min-height: 7em; } 
            .double_list_label                      { display: block; margin-bottom: 0.3em; }
            .controls                               { vertical-align: middle; 
                a                                   { .button;  display: block; height: 1.2em; margin: 0 0.5em; padding: 0.8em;
                   &.to_selected                    { margin-bottom: 0.5em; }
                   &.hide                           { opacity: 0.5; pointer-events: none; }
                   i                                { display: block; height: 1em; width: 1em; background-repeat: no-repeat; background-size: 1.1em 1.1em;                                      
                       &.icon_to_selected           { background-image: @icon-arrow-next; }
                       &.icon_to_unselected         { background-image: @icon-arrow-prev; }
                   } 
                }
            }
        }
    }
    /* bootstrap double list */
    .double-list                                    { position: relative;
        .open .dropdown-menu                        { display: block; }
        i                                           { display: inline-block; height: 1.2em; width: 1.2em; background-repeat: no-repeat; background-size: 1.1em 1.1em; }
        .btn-large                                  { display: block; }
        .icon-chevron-left, .fa-chevron-left        { background-image: @icon-arrow-prev; }
        .icon-chevron-right, .fa-chevron-right      { background-image: @icon-arrow-next; }
        .double-list-label                          { margin-bottom: 0.5em; }
        .dropdown-menu                              { display: none; float: left; width: 19em !important; height: 16em !important; overflow-y: auto; border: 1px solid @color-gray; list-style-type: none; background-color: #fff; 
            li                                      {
                a                                   { display: block; padding: 0.4em 0.5em; white-space: nowrap; font-size: 1.1em; 
                    &:hover, &:focus                { text-decoration: none; color: #fff; background-color: @color-main; }
                }
                &.selected a                        { text-decoration: none; color: #fff; background-color: @color-main; }
            }
        }
        .select2-container, .hidden-select          { display: none !important; }
    }
}

/****************************** FOOTER *******************************/
.footer                                     { .absolute_left(auto, 0); bottom: 0; width: 100%; height: 3.1em; background-color: @color-gray;
    .popup_footer                           { float: right; padding: 0; padding-right: 0.7em; white-space: nowrap;
        .popup_arrow                        { .icon(-0.3em, -118em, @icon-white); display: inline-block; width: 3em; height: 3em; border-radius: 2em; background-color: @color-main; border: none; }
        &:hover .popup_arrow                { background-color: @color-hover; border: none; }
        .popup_content                      { top: auto; bottom: 2.6em; }
    }
    .logo_footer                            { display: inline-block; width: 5em; height: 2em; margin-top: 0.5em; margin-left: 0.7em; background-image: @logo-footer; background-size: 5em 2em; background-position: 0 0; background-repeat: no-repeat;  }
}

/********************************* SETTINGS for PC ****************************/
@media handheld, only screen and (max-width: 1280px) {
    //filters above list_results
    .filter_top                             { 
        .actions                            { display: block; margin: 0 0 1em; }   
    }
}
@media handheld, only screen and (min-width: 1024px) {
    /***** HEADER *****/
    .header                                  {
        .menu_settings                       { .absolute_right; z-index: 1000 !important;
            li                               { display: inline-block; background: none !important;
                .link                        { display: none; }
                .drop_list                   { .drop_list_style(#fff, @color-dark-main); padding: 0em;
                    a                        { color: #fff; }
                    ul                       { top: 2.1em; background: lighten(@color-dark-main, 10%); -moz-box-sizing: inherit; -webkit-box-sizing: inherit; box-sizing: inherit; border: none; box-shadow: none;
                        li                   { display: block; }
                    }
                    .selected                { background: lighten(@color-dark-main, 10%); border: none; box-shadow: none; color: #fff; }
                }
            }
        }
    }
    .list_actions, .batch_actions             { display: inline-block; }
    .list_actions                             { margin-right: 1em; }
    .batch_actions select                     { min-width: 10em; }
    
    //
    .list_header                              { 
        .link_short_table                     { display: none; }
    }
    
    /***** FILTERS *****/
    .visible_pc                               { display: none !important; }
    .visible_pc + .list_results               { margin-right: 0em !important; 
        &.without_list_header                 { margin-right: 4em !important; }  
    }
    .visible_pc + .list_results .list_perpage { margin-right: 4em; }    
    
    /***** ADMIN FORM *****/
    .form_admin legend                        { padding-left: 21%; }   
    /****/
    .select2-container                        { max-width: 22em; }
    
    
    /**************************** ORDER FORM NEW/EDIT *******************************/

.order_tabs                                     {
    .tabs                                       { display: none; }
    .order_tabs_block                           { overflow: hidden;
        .left_block, .right_block               { float: left; margin: 0 0.5% 1em; padding: 0.9em; border: 1px solid #fff; background-color: fadeout(@color-gray, 75%);
            .form_row                           { margin-bottom: 0.8em; 
                label                           { display: inline-block; width: 20%; padding-top: 0; padding-right: 2.5%; vertical-align: middle; text-align: right; }
                textarea                        { height: 3.5em; width: 75%; }
            }
            .form-actions                       { padding: 0; background: none; }
        }
        .left_block                             { width: 46%; 
            .field_categoryId .field_content    { .border_box; width: 77.5%;
                .select2-container              { .border_box; width: 100%; min-width: 100% !important; margin-right: 0; }
            }
        }
        .right_block                            { width: 46%; display: block !important;
            .field_city, .field_address         { 
                .field_content                  { width: 77%; .border_box;
                    .select2-container, textarea { .border_box; width: 100% !important; min-width: 100%; margin-right: 0; }
                }
            }

            .buyer_info                         { margin-bottom: 0.8em; border-bottom: 1px solid #fff;
                label                           { display: none; }
                .field_content                  { .border_box; width: 100%; }
                input                           { .border_box; width: 100%; min-width: 100%; }
                .field_buyer_name               { width: 63%; display: inline-block; }
                .field_buyer_phone              { width: 36%; display: inline-block; }
            }
            .check_group                        {
                .form_row                       { width: 49.3%; display: inline-block; }
                label                           { width: 40%; padding-right: 6%; }
            }
            .delivery_info                      { margin-bottom: 0.5em; border-bottom: 1px solid #fff;
                .form_row                       { width: 49.5%; display: inline-block;
                    .field_content              { .border_box; width: 54%;
                        input                   { .border_box; width: 100%; min-width: 100% !important; }
                    }
                    label                       { width: 40.7%; padding-right: 5%; }
                }
            }
            .field_warehouse                    {
                .field_content                  { .border_box; width: 77%;
                    #s2id_edit_order_select_city_for_warehouse, .select_warehouse_warehouse { .border_box; }
                    #s2id_edit_order_select_city_for_warehouse { width: 33% !important; margin-right: 0.5%; }
                    .select_warehouse_warehouse  { margin-right: 0 !important; max-width: 66.5%; width: 66.5% !important; }
                }
            }
            .field_commentAdd                   { margin-bottom: 1.1em;
                label                           { display: none; }
                .field_content                  { .border_box; width: 100%;
                    input                       { .border_box; min-width: 100% !important; }
                }
            }
        }
    }
}
}

/****************************** SETTINGS for MOBILE ***************************/
@media handheld, only screen and (max-width: 1024px) {
    body                                      { font-size: 16px; }
    h1                                        { font-size: 1.2em; }
    
     /***** LOGIN PAGE *****/
    .login_content                            { padding: 0; background: none; border: none;
        .form_row label                       { color: #fff; } 
    }   
    
    /***** HEADER *****/
    // top menu for mobile devices (display none on PC)
    .header                                   { position: static; height: 2.8em; padding-top: 0;
       .menu_mobile                           { display: block; }
       .menu_drop                             { display: none; min-width: 15em; .absolute_right(2.8em, 0); box-shadow: -0.3em 0.3em 0.6em darken(@color-gray, 30%);
            &.menu_main                       { margin-right: 0em; }
            &.has_submenu                     { height: auto; }
            &.has_submenu_level2              { height: auto; }
            li                                { position: relative; display: block; .nowrap; border-top: 1px solid fadeout(#fff, 90%); 
                a, .link, span                { padding: 1em; padding-right: 1.5em; }
                ul                            { position: static !important; top: 0; padding: 0em; background: lighten(desaturate(@color-main, 5%), 5%) !important;
                    ul li                     { margin-left: 2em; }
                }
                // arrows
                span:first-child:nth-last-child(2):after { content: ''; .absolute_right (1.2em, 0.2em); border: 0.4em solid transparent; border-left: 0.4em solid fadeout(#fff, 80%);  }
                &.active > span:first-child:nth-last-child(2):after { .absolute_right (1.5em, 0.5em); border: 0.4em solid transparent; border-top: 0.4em solid #fff; }
            }
            // delete border in memu item
            & > ul > li:first-child           { border: none; }
            & > ul > li.active + li           { border: none; }
        }
        .menu_settings                        { .menu_drop; 
            .link                             { display: block; }                                  
            .selected                         { display: none; }
            ul li .drop_list                  { padding: 0 !important; text-decoration: none;
                ul                            { -moz-box-sizing: inherit; -webkit-box-sizing: inherit; box-sizing: inherit; border: none; 
                    a:hover                   { background: none; }
                }
                &:hover ul                    { border: none; box-shadow: none; }
            }
        }
    }
    
    /***** CONTENT *****/
    //content layout
    .content                                  {
         header                               { margin-bottom: 0em;  }
         .admin_list .list_results            { position: inherit; padding: 0; }
    } 
    
    // LIST HEADER
    .list_header .list_bar.visible            { display: none; .absolute_right (0, 0); min-width: 11.1em; padding: 0.5em; background: @color-light-main; box-shadow: -0.3em 0.3em 0.6em darken(@color-gray, 30%); z-index: 1; }
    .list_header.has_perpage                  { min-height: 0em; }
    .list_header                              { position: inherit; margin-bottom: 0;
        .list_perpage                         { display: none; }
        .list_bar                             { display: none;
            &.visible                         { display: block; }
            .list_actions a                   { margin: 0 0 0.5em;  
            } 
        } 
    }
     // LIST footer
    .list_footer                              { position: inherit;
        .pagination                           { margin-bottom: 0.5em; }
        .list_perpage                         { width: 16em; margin: 0 auto; position: relative; 
            .selected                         { position: relative; }
        }
    }
    
    /***** FILTERS ****/
    .toggle_filter, .toggle_filter.active     { display: none; }
    .list_filters                             { .absolute_right (0, 0); display: none; background: @color-light-main; box-shadow: -0.3em 0.3em 0.6em darken(@color-gray, 30%); z-index: 2;
        &.visible                             { display: block !important; }
        legend                                { display: none; }
    }
    //if table + filter
    .list_filters + .list_results             { margin-right: 0em !important; }
    
    .list_filters.visible + .list_results .list_perpage { margin: 0 auto; }
    
    // selected filters
    .selected_filters                         { display: block; 
        span a                                { padding: 0 0.5em; }
    }
    // DOUBLE LIST
    .field_double_list                                  { padding: 0 1em;
        .field_content                                  { width: 75%;
            .dropdown , .list-controls                  { width: 100%; 
                &.list-unselected                       { margin-bottom: 3.5em; margin-right: 0; }  
            }
            .list-controls                              { .absolute_left(43%, 39.7%); margin: 0; }
        }
        .double_list                                    {
            select                                      { min-width: 100%; }
            .unselected_list, .selected_list            { width: 43%; }  
        }
        /* bootstrap double list */
        .double-list                                    { 
            .icon-chevron-left, .icon-chevron-right, .fa-chevron-left, .fa-chevron-right    { transform: rotate(90deg); }
            .dropdown-menu                              { width: 100%;}
            .btn-large                                  { display: inline-block; }
        }
    }
    .two_items .field_content                     { width: 30%; .border_box; }
}

/****************************** SETTINGS for width: 768px ***************************/
@media handheld, only screen and (max-width: 768px) {
    .order_tabs .order_tabs_block .form_fieldset_order_entry {  
        .table_order_entry                  { 
            .order_entry_thead              { width: 7.5em; 
                .order_info                 { display: none; }
            }
            td                              { 
                label                       { display: block; margin: 0.5em 0; }
                div                         { display: block; margin-bottom: 0.5em;
                    input                   { width: 100%; 
                        &.quantity          { width: 100%; }
                    }
                }
            }
        }
    }
    //filters above list_results
    .filter_top                                     { 
        .select2-container                          { width: 100% !important; }  
        .field_content                              { width: 100%; }
        input[type="text"]:not(.select2-input), 
        input[type="password"], input[type="phone"], 
        input[type="number"], input[type="email"],  
        input[type="date"], input[type="file"], input[type="time"],
        textarea, select                            { width: 100% !important; min-width: inherit; }
        .form_row_icon .field_content input         { min-width: inherit; }  
        .item label                                 { text-align: left !important; }
    }
    // DOUBLE LIST
    .field_double_list                                  { 
        .field_content                                  { width: 70%; 
            .double_list                                {
                select                                  { min-width: 100%; }
                .controls                               { display: block; width: 9em; margin: 0 auto; padding: 0.5em;
                    a                                   { display: inline-block; 
                       &.to_selected                    { margin-bottom: 0; }
                       .icon_to_selected, .icon_to_unselected  { -moz-transform: rotate(90deg);  -ms-transform: rotate(90deg); -webkit-transform: rotate(90deg); -o-transform: rotate(90deg); transform: rotate(90deg); }
                    }
                 }    
                .unselected_list, .selected_list        { width: 100%; }  
            }
        }
    }
}



/******************/
@media handheld, only screen and (min-width: 480px) and (max-width: 860px) {
    
    /***** ADMIN LIST *****/
     // Total data for list_results(after list_header) (empty by default) 
    .list_totals span                            { display: block; margin-bottom: 0.5em; }
    
    /**** Inputs *****/
    input[type="text"]:not(.select2-input), input[type="password"], input[type="phone"], 
    input[type="number"], input[type="email"],  input[type="date"], input[type="time"],
    input[type="file"], textarea, select        { min-width: 18em; }
    .form_row_icon .field_content input         { min-width: 16em; }
}
/*************************** SETTINGS for MOBILE mini *************************/
@media handheld, only screen and (max-width: 480px) {
    
    body                                     { font-size: 14px; 
        &.login_page                         { font-size: 16px; }
    }
    /***** LOGIN PAGE *****/
    .login_content                           { width: auto; padding: 0.5em; } 
        
    /***** Base styles *****/
     //SELECT 2
    .select2-container                        { width: 100% !important; }   
    
     //INPUT-SELECT  
    .field_content, .two_items .field_content { width: 100%; }
    input[type="text"]:not(.select2-input), input[type="password"], input[type="phone"], 
    input[type="number"], input[type="email"],  input[type="date"], input[type="time"],
    input[type="file"], textarea, select      { .border_box; width: 100% !important; min-width: inherit; }
    .form_row_icon .field_content input       { min-width: inherit; }   
    
    /*Menu drop*/
    .header                                  { height: auto;
        .logo                                { max-width: 5.3em; 
            span                             { font-size: 0.7em; }  
        }
        .menu_drop                           { position: static !important; width: 100%; margin-top: 2.8em; }
    }
    // header with menu under logo
    .header_big .logo                        { float: left; } 
    
    /****** ADMIN LIST *****/
    // HEADER LIST
    .list_header .list_bar.visible           { position: static !important; box-shadow: none; }   
    
    // Total data for list_results(after list_header) (empty by default) 
    .list_totals span                        { display: block; margin-bottom: 0.5em; }
    
    /***** FILTERS *****/
    .list_filters.visible                    { position: static !important; float: none; width: 100%; box-shadow: none; }    
    .selected_filters                        { 
        span                                 { width: 100%; border-top: 1px solid @color-gray; font-size: 1.2em;
            &:first-child                    { border-top: none; }
            a                                { float: right; }
        }
    }        
    
    /***** ADMIN FORM *****/
    .form_admin                              { 
        .form_row                            { padding: 0 0.5em; margin-bottom: 1em;
            label                            { width: auto; margin-bottom: 0.5em; }
            .field_content .select2-container { margin-right: 0; margin-bottom: 0.5em; }
        } 
        .form-actions                        { 
           input, a                          { margin: 0.5em; margin-left: 0em; }
        }
    }  
     /**************************** ORDER FORM NEW/EDIT *******************************/
     .order_tabs                             {
         .tab_content                        { padding: 0.5em; 
             .form_row                       { padding: 0; }
         }
     }
     /***************************** LANG TABS *******************************/
     .form_block                                     {
        .field_translations                          {
            .field_description .field_content, 
            .field_shortDescription .field_content   { max-width: 100%; }
        }
     }
     // DOUBLE LIST
    .field_double_list                                  { 
        .field_content                                  { width: 97%; 
            .icon_to_selected, .icon_to_unselected      { -moz-transform: rotate(90deg);  -ms-transform: rotate(90deg); -webkit-transform: rotate(90deg); -o-transform: rotate(90deg); transform: rotate(90deg); }
        } 
    }
}

@media handheld, only screen and (max-width: 314px) {   
    
     /***** LOGIN PAGE *****/
    .login_content                           { width: 13em; font-size: 1.2em; }
    
    /***** HEADER *******/
    // styles for main menu (and other drop menus in header) 
    .header .menu_drop                       { margin-top: 2.8em; }   
}