{% extends '../CommonAdmin/ActionsAction/ActionsBuilderAction.php.twig' %}

{% block getObject %}

    protected function getObject($pk)
    {
        ${{ builder.ModelClass }} = $this->getObjectQuery($pk)->findPk($pk);

        if (!${{ builder.ModelClass }}) {
            throw new \InvalidArgumentException("No {{ model }} found on {{ builder.getFieldGuesser().getModelPrimaryKeyName(model) }} : $pk");
        }

        return ${{ builder.ModelClass }};
    }

{% endblock %}

{% block getQuery -%}
    protected function getObjectQuery($pk)
    {
        return \{{ model }}Query::create();
    }
{% endblock %}

{% block executeObjectDelete %}

    protected function executeObjectDelete(\{{ model }} ${{ builder.ModelClass }})
    {
        ${{ builder.ModelClass }}->delete();
    }

{% endblock %}

{% block executeBatchDelete %}

    protected function executeBatchDelete(array $selected)
    {
        \{{ model }}Query::create()
            ->filterByPrimaryKeys($selected)
            ->delete();
    }

{% endblock %}