{% extends '../CommonAdmin/ShowAction/ShowBuilderAction.php.twig' %}

{% block getObject -%}
    protected function getObject($pk)
    {
        return $this->getQuery($pk)->findPk($pk);
    }
{% endblock %}

{% block getQuery -%}
    protected function getQuery($pk)
    {
        return \{{ model }}Query::create();
    }
{% endblock %}
