{% extends '../CommonAdmin/EditAction/EditBuilderAction.php.twig' %}

{% block orm_use %}
use Doctrine\ODM\MongoDB\LockMode;
use Doctrine\ODM\MongoDB\LockException;
{% endblock %}

{% block getObject -%}
    /**
     * Get object {{ model }} with identifier $pk
     *
     * @param mixed $pk
     * @return {{ model }}
     */
    protected function getObject($pk)
    {
        return $this->getDocumentManager()->find('{{ model }}', $pk);
    }
{% endblock %}

{% block getQuery '' %}

{% block saveObject -%}
    protected function saveObject(\{{ model }} ${{ builder.ModelClass }})
    {
        $dm = $this->getDocumentManager();
        $dm->persist(${{ builder.ModelClass }});
        $dm->flush();
    }
{% endblock %}

{% block checkVersion -%}
    $this->getDocumentManager()->lock(${{ builder.ModelClass }}, LockMode::OPTIMISTIC, $versions[$pk]);
{% endblock %}

{% block lockException %}LockException{% endblock %}