{% use '../CommonAdmin/security_action.php.twig' %}
{% use '../CommonAdmin/csrf_protection.php.twig' %}

{% block attemptObjectAction %}

    /**
     * This function handles common object actions behaviour like
     * checking CSRF protection token or credentials.
     *
     * To customize your action look into:
     * executeObject{{ action.name|php_name|capitalize }}() - holds action logic
     * successObject{{ action.name|php_name|capitalize }}() - called if action was successfull
     * errorObject{{ action.name|php_name|capitalize }}()   - called if action errored
     */
    protected function attemptObject{{ action.name|php_name|capitalize }}($pk)
    {
        ${{ builder.ModelClass }} = $this->getObject($pk);

        try {
            {{ block('security_action_with_object') -}}

            {%- if action.csrfProtected %}
            if ('POST' == $this->get('request')->getMethod()) {
                {{ block('csrf_action_check_token') }}

                $this->executeObject{{ action.name|php_name|capitalize }}(${{ builder.ModelClass }});

                return $this->successObject{{ action.name|php_name|capitalize }}(${{ builder.ModelClass }});
            }
            {% else %}
            $this->executeObject{{ action.name|php_name|capitalize }}(${{ builder.ModelClass }});

            return $this->successObject{{ action.name|php_name|capitalize }}(${{ builder.ModelClass }});
            {%- endif %}

        } catch (\Exception $e) {
            return $this->errorObject{{ action.name|php_name|capitalize }}($e, ${{ builder.ModelClass }});
        }

        return $this->render(
            '{{ namespace_prefix }}{{ bundle_name }}:{{ builder.BaseGeneratorName }}Actions:index.html.twig',
            $this->getAdditionalRenderParameters(${{ builder.ModelClass }}, '{{ action.name }}') + array(
                "{{ builder.ModelClass }}" => ${{ builder.ModelClass }},
                "title" => $this->get('translator')->trans(
                    "{{ action.options.title|default("action.custom.title") }}",
                    array('%name%' => '{{ action.name }}'),
                    '{{ i18n_catalog|default("Admin") }}'
                ),
                "actionRoute" => "{{ builder.routePrefixWithSubfolder ~ '_' ~ bundle_name ~ (builder.BaseGeneratorName ? "_" ~ builder.BaseGeneratorName : "") ~ '_object' }}",
                "actionParams" => array("pk" => $pk, "action" => "{{ action.name }}")
            )
        );
    }

{% endblock %}

{% block executeObjectAction %}

    /**
     * This function is for you to customize what action actually does
     */
    protected function executeObject{{ action.name|php_name|capitalize }}(\{{ model }} ${{ builder.ModelClass }})
    {
        // By default action does nothing
        // Overwrite this function!
    }

{% endblock %}

{% block successObjectAction %}

    /**
     * This is called when action is successfull
     * Default behavior is redirecting to list with success message
     *
     * @param \{{ model }} ${{ builder.ModelClass }} Your \{{ model }} object
     * @return Response Must return a response!
     */
    protected function successObject{{ action.name|php_name|capitalize }}(\{{ model }} ${{ builder.ModelClass }})
    {
        $this->get('session')->getFlashBag()->add(
            'success',
            $this->get('translator')->trans(
                "{{ action.options.success|default("action.custom.success") }}",
                array('%name%' => '{{ action.label }}'),
                '{{ action.options.success is defined ? i18n_catalog|default("Admin") : 'Admingenerator' }}'
            )
        );

        return new RedirectResponse($this->generateUrl("{{ builder.routePrefixWithSubfolder }}_{{ bundle_name }}{{ builder.BaseGeneratorName ? "_" ~ builder.BaseGeneratorName : "" }}_list"));
    }

{% endblock %}

{% block errorObjectAction %}

    /**
     * This is called when action throws an exception
     * Default behavior is redirecting to list with error message
     *
     * @param \Exception $e Exception
     * @param \{{ model }} ${{ builder.ModelClass }} Your \{{ model }} object
     * @return Response Must return a response!
     */
    protected function errorObject{{ action.name|php_name|capitalize }}(\Exception $e, \{{ model }} ${{ builder.ModelClass }} = null)
    {
        $this->get('session')->getFlashBag()->add(
            'error',
            $this->get('translator')->trans(
                "{{ action.options.error|default("action.custom.error") }}",
                array('%name%' => '{{ action.label }}'),
                '{{ action.options.error is defined ? i18n_catalog|default("Admin") : 'Admingenerator' }}'
            )
        );

        return new RedirectResponse($this->generateUrl("{{ builder.routePrefixWithSubfolder }}_{{ bundle_name }}{{ builder.BaseGeneratorName ? "_" ~ builder.BaseGeneratorName : "" }}_list"));
    }

{% endblock %}
